Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'

Add preview documentation workflow and project configuration
  .github/workflows/preview-docs.yaml
Labels: none

Add preview documentation workflow and project configuration (#1012)
  .github/workflows/preview-docs.yaml
  pyproject.toml
Labels: none

Clarify documentation for streaming data retrieval
  docs/requests.md
Labels: documentation

Fix annotation attributeKey was not available for ktor plugins
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
Labels: ktorfit-ksp

Add unit + integrations tests for Annotation getters
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/MethodAnnotationsTest.kt
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/AnnotationsTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/AnnotationsIntegrationTest.kt
Labels: build, ktorfit-ksp, ktorfit-lib

Fix annotations get or null for #1009 (#1014)
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/MethodAnnotationsTest.kt
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/AnnotationsTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/AnnotationsIntegrationTest.kt
Labels: build, ktorfit-ksp, ktorfit-lib

Update KSP
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: build, documentation

Update KSP (#1017)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: build, documentation

Update deployment workflow
  .github/workflows/publish-converters.yml
  .github/workflows/publish.yml
Labels: none

Update deployment workflow (#1019)
  .github/workflows/publish-converters.yml
  .github/workflows/publish.yml
Labels: none

Release 2.7.2
  docs/CHANGELOG.md
  example/AndroidOnlyExample/gradle/libs.versions.toml
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: build, documentation, ktorfit-gradle-plugin

Release 2.7.2
  docs/CHANGELOG.md
Labels: documentation

Deploy preview for PR 1022 🛫
  pr-preview/pr-1022/CHANGELOG/index.html
  pr-preview/pr-1022/search/search_index.json
Labels: none

Release 2.7.2
  docs/index.md
  mkdocs.yml
Labels: documentation

Deploy preview for PR 1022 🛫
  pr-preview/pr-1022/index.html
  pr-preview/pr-1022/installation/index.html
  pr-preview/pr-1022/search/search_index.json
Labels: none

Release 2.7.2
  docs/CHANGELOG.md
Labels: documentation

Deploy preview for PR 1022 🛫
  pr-preview/pr-1022/CHANGELOG/index.html
  pr-preview/pr-1022/search/search_index.json
Labels: none

Release 2.7.2 (#1022)
  docs/CHANGELOG.md
  docs/index.md
  example/AndroidOnlyExample/gradle/libs.versions.toml
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  mkdocs.yml
Labels: build, documentation, ktorfit-gradle-plugin

chore: change namespace for response converters
  ktorfit-converters/response/build.gradle.kts
Labels: build

chore: change namespace for response converters (#1033)
  ktorfit-converters/response/build.gradle.kts
Labels: build

Only run cron for GitHub Actions on the main repo
  .github/workflows/update-gradle-wrapper.yml
Labels: none

Add support for Kotlin 2.3.0
  gradle/libs.versions.toml
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CommonCompilerPluginRegistrar.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/ExampleCommandLineProcessor.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Add support for Kotlin 2.3.0 (#1038)
  gradle/libs.versions.toml
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CommonCompilerPluginRegistrar.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/ExampleCommandLineProcessor.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Fix Renovate config to ignore Ktor EAP versions
  renovate.json5
Labels: none

Fix Renovate config to ignore Ktor EAP versions (#1040)
  renovate.json5
Labels: none

'add request path template as request attribute
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributesCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/ReqBuilderExtensionNode.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
Labels: ktorfit-ksp

docs: update changelog
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributesCodeGenerator.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/TagAnnotationsTest.kt
Labels: documentation, ktorfit-ksp

Add missing import and fix typo
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributesCodeGenerator.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
Labels: ktorfit-ksp

Ktlint indentation fix
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributesCodeGenerator.kt
Labels: ktorfit-ksp

Update to Kotlin 2.3.20-RC3
  gradle/libs.versions.toml
  kotlin-js-store/wasm/yarn.lock
  kotlin-js-store/yarn.lock
  ktorfit-annotations/api/ktorfit-annotations.klib.api
  ktorfit-annotations/build.gradle.kts
  ktorfit-converters/call/api/call.klib.api
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/api/flow.klib.api
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/api/response.klib.api
  ktorfit-converters/response/build.gradle.kts
  ktorfit-lib-core/api/ktorfit-lib-core.klib.api
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/AnnotationsTest.kt
  ktorfit-lib/api/ktorfit-lib.klib.api
  ktorfit-lib/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/api/GithubService.kt
  sandbox/src/linuxMain/kotlin/LinuxMain.kt
Labels: build, ktorfit-lib, sandbox

Add a convention plugin for KMP
  build-logic/build.gradle.kts
  build-logic/settings.gradle.kts
  build-logic/src/main/kotlin/ktorfit.kmp.gradle.kts
  gradle/libs.versions.toml
  ktorfit-annotations/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
  settings.gradle.kts
Labels: build

Add a jvm convention plugin
  build-logic/settings.gradle.kts
  build-logic/src/main/kotlin/ktorfit.jvm.gradle.kts
  build-logic/src/main/kotlin/ktorfit.kmp.gradle.kts
  ktorfit-compiler-plugin/build.gradle.kts
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-ksp/build.gradle.kts
Labels: build

Update Gradle to 9.4.0
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: none

Update kctfork
  gradle/libs.versions.toml
Labels: none

Clean up version catalog, consolidate versions, remove deprecated properties
  build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  ktorfit-annotations/build.gradle.kts
  ktorfit-annotations/gradle.properties
  ktorfit-compiler-plugin/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/call/gradle.properties
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/flow/gradle.properties
  ktorfit-converters/response/build.gradle.kts
  ktorfit-converters/response/gradle.properties
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-ksp/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib-core/gradle.properties
  ktorfit-lib/build.gradle.kts
  ktorfit-lib/gradle.properties
  sandbox/build.gradle.kts
Labels: build

Add publishing convention plugin and remove per-module publishing boilerplate
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/ktorfit.publishing.gradle.kts
  ktorfit-annotations/build.gradle.kts
  ktorfit-compiler-plugin/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-ksp/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
Labels: build

Add licensee convention plugin to deduplicate license config
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/ktorfit.licensee.gradle.kts
  ktorfit-annotations/build.gradle.kts
  ktorfit-compiler-plugin/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-ksp/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
Labels: build

Remove buildscript block and clean up repository configuration
  build-logic/settings.gradle.kts
  build.gradle.kts
  settings.gradle.kts
Labels: build

Migrate to AGP 9 KMP plugin and Detekt v2
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/ktorfit.detekt.gradle.kts
  build-logic/src/main/kotlin/ktorfit.kmp.gradle.kts
  ktorfit-annotations/build.gradle.kts
  ktorfit-compiler-plugin/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-ksp/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
Labels: build

Switch from Yarn to npm for JS/WASM targets
  kotlin-js-store/wasm/yarn.lock
  kotlin-js-store/yarn.lock
Labels: none
