Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Point proguard file to an absolute link in doc (#839)
  docs/android/proguard.md
Labels: none

deploy: 6cca0dba2a6460d94c9b26d5556877cf515f5275
  android/proguard/index.html
  sitemap.xml
  sitemap.xml.gz
Labels: none

Enable KLib ABI validation
  build.gradle.kts
  ktorfit-annotations/api/ktorfit-annotations.klib.api
  ktorfit-annotations/build.gradle.kts
  ktorfit-compiler-plugin/api/ktorfit-compiler-plugin.api
  ktorfit-converters/call/api/call.klib.api
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/api/flow.klib.api
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/api/response.klib.api
  ktorfit-converters/response/build.gradle.kts
  ktorfit-gradle-plugin/api/ktorfit-gradle-plugin.api
  ktorfit-ksp/api/ktorfit-ksp.api
  ktorfit-lib-core/api/ktorfit-lib-core.klib.api
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/api/ktorfit-lib.klib.api
  ktorfit-lib/build.gradle.kts
Labels: build

Enable KLib ABI validation (#840)
  build.gradle.kts
  ktorfit-annotations/api/ktorfit-annotations.klib.api
  ktorfit-annotations/build.gradle.kts
  ktorfit-compiler-plugin/api/ktorfit-compiler-plugin.api
  ktorfit-converters/call/api/call.klib.api
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/api/flow.klib.api
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/api/response.klib.api
  ktorfit-converters/response/build.gradle.kts
  ktorfit-gradle-plugin/api/ktorfit-gradle-plugin.api
  ktorfit-ksp/api/ktorfit-ksp.api
  ktorfit-lib-core/api/ktorfit-lib-core.klib.api
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/api/ktorfit-lib.klib.api
  ktorfit-lib/build.gradle.kts
Labels: build

Update KSP version check in KtorfitGradlePlugin
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Update KSP version check in KtorfitGradlePlugin (#842)
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Release 2.5.1
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/build.gradle
  example/AndroidOnlyExample/settings.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  mkdocs.yml
Labels: build, documentation

Release 2.5.1
  example/AndroidOnlyExample/settings.gradle.kts
Labels: build

Release 2.5.1 (#844)
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/build.gradle
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  mkdocs.yml
Labels: build, documentation

Update Gradle Wrapper from 8.12.1 to 8.14
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.jar
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.properties
  example/AndroidOnlyExample/gradlew
  example/AndroidOnlyExample/gradlew.bat
Labels: none

Update Gradle Wrapper from 8.12.1 to 8.14
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.jar
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.properties
  example/MultiplatformExample/gradlew
  example/MultiplatformExample/gradlew.bat
Labels: none

Update Gradle Wrapper from 8.12.1 to 8.14
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: none

Resolve KSP version if set with ksp extension
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Resolve KSP version if set with ksp extension (#851)
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Release 2.5.1
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: documentation, ktorfit-gradle-plugin

Release 2.5.1
  gradle/libs.versions.toml
Labels: none

Release 2.5.2 (#854)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: documentation, ktorfit-gradle-plugin

deploy: 44397f319b8b3764557bab82c4c43fd1d3802a54
  CHANGELOG/index.html
  installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Update Gradle Wrapper from 8.12.1 to 8.14.1
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.jar
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.properties
  example/AndroidOnlyExample/gradlew
  example/AndroidOnlyExample/gradlew.bat
Labels: none

Update Gradle Wrapper from 8.12.1 to 8.14.1
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.jar
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.properties
  example/MultiplatformExample/gradlew
  example/MultiplatformExample/gradlew.bat
Labels: none

Update Gradle Wrapper from 8.12.1 to 8.14.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: none

Fix annotation array args with annotation elements
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributesCodeGenerator.kt
Labels: ktorfit-ksp

Update Gradle Wrapper from 8.12.1 to 8.14.2
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.jar
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.properties
  example/AndroidOnlyExample/gradlew
  example/AndroidOnlyExample/gradlew.bat
Labels: none

Update Gradle Wrapper from 8.12.1 to 8.14.2
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.jar
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.properties
  example/MultiplatformExample/gradlew
  example/MultiplatformExample/gradlew.bat
Labels: none

Update Gradle Wrapper from 8.12.1 to 8.14.2
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: none

Suppose that HTTP method annotations could be used with an ArrayList
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSFunctionDeclarationExt.kt
Labels: ktorfit-ksp

Update README.md
  README.md
Labels: none

Update Ktor to 3.2.0
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

Update Ktor to 3.2.0
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
  sandbox/build.gradle.kts
Labels: build

Update Ktor to 3.2.0 (#867)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
  sandbox/build.gradle.kts
Labels: build, documentation

Fix the linter suggested errors
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSFunctionDeclarationExt.kt
Labels: ktorfit-ksp

Update Kotlin to 2.2.0
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-annotations/build.gradle.kts
  ktorfit-compiler-plugin/build.gradle.kts
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
  ktorfit-lib/build.gradle.kts
  sandbox/build.gradle.kts
Labels: build, documentation, ktorfit-gradle-plugin, ktorfit-lib

Fix ktlint violations
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
Labels: build, ktorfit-gradle-plugin, ktorfit-lib

Update api dump
  ktorfit-compiler-plugin/api/ktorfit-compiler-plugin.api
  ktorfit-ksp/api/ktorfit-ksp.api
  ktorfit-lib-core/api/android/ktorfit-lib-core.api
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
Labels: none

Upgrade yarn lock
  kotlin-js-store/yarn.lock
Labels: none

Update kotlin compiler testing artifact
  gradle/libs.versions.toml
Labels: none

Fix deprecation
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CommonCompilerPluginRegistrar.kt
Labels: none

Handle extension receiver in the list of arguments
  gradle.properties
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-compiler-plugin/src/test/kotlin/de/jensklingenberg/ktorfit/FunctionTransformerTest.kt
Labels: none

Update Gradle to 8.14.2 and clean up build scripts
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  ktorfit-annotations/build.gradle.kts
  ktorfit-compiler-plugin/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-ksp/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
  sandbox/build.gradle.kts
  settings.gradle.kts
Labels: build

Fix formatting
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
Labels: none

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'
