Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'

Kotlin 2.0.21 (#683)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

update to Ktor 3
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

update to Ktor 3
  README.md
Labels: none

update to Ktor 3
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/TestEngine.kt
Labels: ktorfit-lib

Update to Ktor 3 (#688)
  README.md
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/TestEngine.kt
Labels: documentation, ktorfit-lib

Update CHANGELOG.md
  docs/CHANGELOG.md
Labels: documentation

Update Ktorfit
  example/MultiplatformExample/shared/build.gradle.kts
Labels: build

Add issueManagement config
  ktorfit-annotations/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-ksp/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
Labels: build

Add issueManagement config
  ktorfit-lib-core/build.gradle.kts
Labels: build

Update renovate.json5
  renovate.json5
Labels: none

Update converters/example1.md
  docs/CHANGELOG.md
  docs/converters/example1.md
Labels: documentation

Ksp 1.0.26
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/androidApp/build.gradle.kts
  example/MultiplatformExample/person/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-annotations/build.gradle.kts
  ktorfit-compiler-plugin/build.gradle.kts
  ktorfit-compiler-plugin/src/test/kotlin/de/jensklingenberg/ktorfit/FunctionTransformerTest.kt
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-ksp/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
  sandbox/build.gradle.kts
Labels: build

Ksp 1.0.26
  docs/CHANGELOG.md
Labels: documentation

Ksp 1.0.26
  ktorfit-ksp/build.gradle.kts
Labels: build

Ksp 1.0.26
  gradle/libs.versions.toml
Labels: none

KSP 1.0.26
  docs/CHANGELOG.md
Labels: documentation

Add missing setBody import #726
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/PartAnnotationsTest.kt
Labels: documentation, ktorfit-ksp

Add missing setBody import #726
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/PartAnnotationsTest.kt
Labels: ktorfit-ksp

Update to Ktor 3.0.1
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

Fix linting
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/PartAnnotationsTest.kt
Labels: ktorfit-ksp

Update to KSP 1.0.27
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

Add missing setBody import #726
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  sandbox/src/commonMain/kotlin/com/example/api/KtorSamplesApi.kt
Labels: ktorfit-ksp, sandbox

Add missing setBody import #726
  sandbox/src/commonMain/kotlin/com/example/api/KtorSamplesApi.kt
Labels: sandbox

Remove obsolete Gradle plugin
  ktorfit-compiler-plugin/build.gradle.kts
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-ksp/build.gradle.kts
Labels: build

Decouple Kotlin plugin version from Ktorfit version
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Decouple Kotlin plugin version from Ktorfit version
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Change artifactId
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
Labels: build

Add missing client dependencies #720
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-lib/build.gradle.kts
Labels: build

Add missing client dependencies #720
  docs/CHANGELOG.md
Labels: documentation

Release 2.2.0
  docs/CHANGELOG.md
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  mkdocs.yml
Labels: build, documentation, ktorfit-gradle-plugin

Release 2.2.0
  docs/index.md
Labels: documentation

Release 2.2.0
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
Labels: build

Release 2.2.0
  README.md
Labels: none

deploy: e8021b9abee5b4aa4c915aedd91d98944d4bd117
  CHANGELOG/index.html
  converters/example1/index.html
  index.html
  installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Update Gradle Wrapper from 8.10.2 to 8.11
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.properties
Labels: none

Update Gradle Wrapper from 8.10.2 to 8.11
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.properties
Labels: none

Update Gradle Wrapper from 8.10.2 to 8.11
  gradle/wrapper/gradle-wrapper.properties
Labels: none

Update documentation
  README.md
  mkdocs.yml
Labels: none

deploy: 9cfe76891c8383e7847e2008569b641064854fb0
  installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Update renovate.json5
  renovate.json5
Labels: none
