Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'

Only check for regular parameters when processing an IrCall
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
Labels: none

Update KCT to support Kotlin 2.2.0
  gradle/libs.versions.toml
Labels: none

Update Kotlin to 2.2.0 (#872)
  docs/CHANGELOG.md
  gradle.properties
  gradle/libs.versions.toml
  kotlin-js-store/yarn.lock
  ktorfit-annotations/build.gradle.kts
  ktorfit-compiler-plugin/api/ktorfit-compiler-plugin.api
  ktorfit-compiler-plugin/build.gradle.kts
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CommonCompilerPluginRegistrar.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-compiler-plugin/src/test/kotlin/de/jensklingenberg/ktorfit/FunctionTransformerTest.kt
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/api/ktorfit-ksp.api
  ktorfit-ksp/build.gradle.kts
  ktorfit-lib-core/api/android/ktorfit-lib-core.api
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
  ktorfit-lib/build.gradle.kts
  sandbox/build.gradle.kts
Labels: build, documentation, ktorfit-gradle-plugin, ktorfit-lib

Update Gradle to 8.14.2 and clean up build scripts
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  ktorfit-annotations/build.gradle.kts
  ktorfit-compiler-plugin/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-ksp/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
  sandbox/build.gradle.kts
  settings.gradle.kts
Labels: build

Release 2.6.0
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/build.gradle
  example/MultiplatformExample/androidApp/build.gradle.kts
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.properties
  example/MultiplatformExample/iosApp/Podfile.lock
  example/MultiplatformExample/iosApp/Pods/Local Podspecs/shared.podspec.json
  example/MultiplatformExample/iosApp/Pods/Manifest.lock
  example/MultiplatformExample/iosApp/Pods/Pods.xcodeproj/project.pbxproj
  example/MultiplatformExample/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.debug.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.release.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/shared/shared.debug.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/shared/shared.release.xcconfig
  example/MultiplatformExample/iosApp/iosApp.xcodeproj/xcuserdata/jens.klingenberg.xcuserdatad/xcschemes/iosApp.xcscheme
  example/MultiplatformExample/iosApp/iosApp.xcodeproj/xcuserdata/jens.klingenberg.xcuserdatad/xcschemes/xcschememanagement.plist
  example/MultiplatformExample/iosApp/iosApp.xcworkspace/xcuserdata/jens.klingenberg.xcuserdatad/xcschemes/xcschememanagement.plist
  example/MultiplatformExample/person/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
Labels: build, documentation

Update Gradle to 8.14.2 and clean up build scripts (#874)
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  ktorfit-annotations/build.gradle.kts
  ktorfit-compiler-plugin/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-ksp/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
  sandbox/build.gradle.kts
  settings.gradle.kts
Labels: build

Release 2.6.0
  mkdocs.yml
Labels: none

Update Ktor to 3.2.0
  gradle/libs.versions.toml
Labels: none

Release 2.6.0
  ktorfit-compiler-plugin/build.gradle.kts
Labels: build

Release 2.6.0
  ktorfit-annotations/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-ksp/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
Labels: build

Update Gradle Wrapper from 8.12.1 to 8.14.3
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.jar
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.properties
  example/AndroidOnlyExample/gradlew
  example/AndroidOnlyExample/gradlew.bat
Labels: none

Update Gradle Wrapper from 8.12.1 to 8.14.3
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.jar
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.properties
  example/MultiplatformExample/gradlew
  example/MultiplatformExample/gradlew.bat
Labels: none

Update Gradle Wrapper from 8.14.2 to 8.14.3
  gradle/wrapper/gradle-wrapper.properties
Labels: none

Release 2.6.0 (#876)
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/build.gradle
  example/MultiplatformExample/androidApp/build.gradle.kts
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.properties
  example/MultiplatformExample/iosApp/Podfile.lock
  example/MultiplatformExample/iosApp/Pods/Local Podspecs/shared.podspec.json
  example/MultiplatformExample/iosApp/Pods/Manifest.lock
  example/MultiplatformExample/iosApp/Pods/Pods.xcodeproj/project.pbxproj
  example/MultiplatformExample/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.debug.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.release.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/shared/shared.debug.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/shared/shared.release.xcconfig
  example/MultiplatformExample/iosApp/iosApp.xcodeproj/xcuserdata/jens.klingenberg.xcuserdatad/xcschemes/iosApp.xcscheme
  example/MultiplatformExample/iosApp/iosApp.xcodeproj/xcuserdata/jens.klingenberg.xcuserdatad/xcschemes/xcschememanagement.plist
  example/MultiplatformExample/iosApp/iosApp.xcworkspace/xcuserdata/jens.klingenberg.xcuserdatad/xcschemes/xcschememanagement.plist
  example/MultiplatformExample/person/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-annotations/build.gradle.kts
  ktorfit-compiler-plugin/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-ksp/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
  mkdocs.yml
Labels: build, documentation

Release 2.6.1
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.properties
  example/MultiplatformExample/person/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: build, documentation, ktorfit-gradle-plugin

Release 2.6.1 (#884)
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.properties
  example/MultiplatformExample/person/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: build, documentation, ktorfit-gradle-plugin

fixup! Fix the linter suggested errors
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSFunctionDeclarationExt.kt
Labels: ktorfit-ksp

Fix parameter name clash with http builder properties/function
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/MethodCodeGeneration.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlCodeGeneration.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/MethodAnnotationsTest.kt
Labels: ktorfit-ksp

Revert url, fix http method related test
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlCodeGeneration.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
Labels: ktorfit-ksp

Suppose that HTTP method annotations could be used with an ArrayList (#866)
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSFunctionDeclarationExt.kt
Labels: ktorfit-ksp

Add StormtrooperLegionTest in commonTest source set
  gradle/libs.versions.toml
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/api/StarWarsApi.kt
  sandbox/src/commonTest/kotlin/com/example/StormtrooperLegionTest.kt
Labels: build, sandbox

Adjust the new api to catch the ios bug
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/api/StarWarsApi.kt
  sandbox/src/commonTest/kotlin/com/example/SummonStormtroopersTest.kt
Labels: build, sandbox

All publish tasks now depend on sandbox:allTests task
  build.gradle.kts
Labels: build

One more request that is using DefaultSuspendResponseConverterFactory
  sandbox/src/commonMain/kotlin/com/example/api/StarWarsApi.kt
  sandbox/src/commonTest/kotlin/com/example/SummonStormtroopersTest.kt
Labels: sandbox

Add don't override a method with NoDelegation and have body
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/core/NoDelegation.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitError.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/NoDelegationMethodTest.kt
Labels: ktorfit-ksp

Resolve detekt issues with brain methods, divide and conquer
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/annotations/ParameterAnnotation.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/HeaderCodeGenerator.kt
Labels: ktorfit-ksp

Revert to deprecated code #887
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
Labels: ktorfit-lib

Revert to deprecated code #887
  docs/CHANGELOG.md
Labels: documentation

Revert to deprecated code #887 (#895)
  docs/CHANGELOG.md
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
Labels: documentation, ktorfit-lib

Integration test that fails when a generic return type is used in ios (#890)
  build.gradle.kts
  gradle/libs.versions.toml
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/api/StarWarsApi.kt
  sandbox/src/commonTest/kotlin/com/example/SummonStormtroopersTest.kt
Labels: build, sandbox

Set min JDK version 8 #883
  ktorfit-annotations/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
Labels: build

Set min JDK version 8 #883
  docs/CHANGELOG.md
Labels: documentation

Set min JDK version 8 #883
  ktorfit-annotations/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
Labels: build

Set min JDK version 8 #883 (#897)
  docs/CHANGELOG.md
  ktorfit-annotations/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
Labels: build, documentation

Fix parameter name conflict with builder stuff (#885)
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/MethodCodeGeneration.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/MethodAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
Labels: ktorfit-ksp

Update changelog
  docs/CHANGELOG.md
Labels: documentation

Release 2.6.2
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  mkdocs.yml
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: documentation, sandbox

Release 2.6.2 (#898)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  mkdocs.yml
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: documentation, sandbox

Release 2.6.3
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  mkdocs.yml
Labels: documentation, ktorfit-gradle-plugin

Release 2.6.3 (#899)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  mkdocs.yml
Labels: documentation, ktorfit-gradle-plugin
