Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Add typealias support to Ktorfit KSP processor
  ktorfit-ksp/api/ktorfit-ksp.api
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/annotations/ParameterAnnotation.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/Utils.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/TypeAliasTest.kt
Labels: ktorfit-ksp

lw1
  example/MultiplatformExample/person/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/core/TypeConverters.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitProcessor.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec2.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlCodeGeneration.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSFunctionDeclarationExt.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/validation/ClassValidator.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/BodyAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
  sandbox/src/commonMain/kotlin/com/example/api/MyConv.kt
  sandbox/src/commonMain/kotlin/com/example/api/StarWarsApi.kt
  sandbox/src/commonTest/kotlin/com/example/SummonStormtroopersTest.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvmPlaceHolderApi.kt
Labels: build, ktorfit-ksp, sandbox

lw1
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitProcessor.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  sandbox/src/linuxX64Main/kotlin/LinuxMain.kt
Labels: ktorfit-ksp, sandbox

lw1
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
Labels: ktorfit-ksp

Add typealias support to Ktorfit KSP processor (#944)
  ktorfit-ksp/api/ktorfit-ksp.api
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/annotations/ParameterAnnotation.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/Utils.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/TypeAliasTest.kt
Labels: ktorfit-ksp

lw1 WIP
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/GitHubService.kt
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/GitHubUser.kt
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/MainActivity.kt
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/StarWarsApi.kt
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/TestJava.java
  example/AndroidOnlyExample/settings.gradle.kts
  example/MultiplatformExample/iosApp/Pods/Pods.xcodeproj/project.pbxproj
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/InternalKtorfitApi.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitOptions.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitProcessor.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec2.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributesCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/validation/ClassValidator.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/converter/RequestParameterConverterTest.kt
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/api/JsonPlaceHolderApi.kt
  sandbox/src/commonMain/kotlin/com/example/api/KtorSamplesApi.kt
  sandbox/src/commonMain/kotlin/com/example/api/MyConv.kt
Labels: build, ktorfit-ksp, ktorfit-lib, sandbox

lw1 WIP
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/MainActivity.kt
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/StarWarsApi.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec2.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlCodeGeneration.kt
  sandbox/src/commonMain/kotlin/com/example/api/StarWarsApi.kt
Labels: build, ktorfit-ksp, sandbox

lw1 WIP
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
Labels: ktorfit-ksp

lw1 WIP
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitProcessor.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/RequestBuilderValidator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/HeaderCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSFunctionDeclarationExt.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSValueParameterExt.kt
  sandbox/src/commonMain/kotlin/com/example/model/ExampleApi.kt
Labels: ktorfit-ksp, sandbox

lw1 WIP
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
Labels: ktorfit-ksp

lw1 WIP
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/settings.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  example/MultiplatformExample/shared/src/commonMain/kotlin/com/example/ktorfittest/Greeting.kt
  ktorfit-annotations/api/android/ktorfit-annotations.api
  ktorfit-annotations/api/jvm/ktorfit-annotations.api
  ktorfit-annotations/api/ktorfit-annotations.klib.api
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/api/ktorfit-ksp.api
  ktorfit-lib-core/api/android/ktorfit-lib-core.api
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
  ktorfit-lib-core/api/ktorfit-lib-core.klib.api
  sandbox/build.gradle.kts
  sandbox/src/androidMain/AndroidManifest.xml
  sandbox/src/androidMain/kotlin/com/example/ktorfittest/Test.kt
  sandbox/src/commonMain/kotlin/com/example/api/MyConv.kt
Labels: build, ktorfit-gradle-plugin, sandbox

lw1 WIP
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/model/CommonClient.kt
Labels: build, ktorfit-gradle-plugin, ktorfit-ksp, sandbox

lw1 WIP
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
Labels: ktorfit-ksp

lw1 WIP
  .github/PULL_REQUEST_TEMPLATE.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
  sandbox/src/commonMain/kotlin/com/example/api/JsonPlaceHolderApi.kt
  sandbox/src/commonMain/kotlin/com/example/api/MyConv.kt
  sandbox/src/commonMain/kotlin/com/example/model/ExampleApi.kt
Labels: ci, ktorfit-ksp, sandbox

fix part data WIP
  ktor_logo.png
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/PartsCodeGeneration.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/PartAnnotationsTest.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: ktorfit-ksp, sandbox

Add PR milestone labeler
  .github/workflows/build.yml
Labels: none

Add condition to set milestone on pull requests
  .github/workflows/build.yml
Labels: none

lw1 WIP
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitProcessor.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
Labels: ktorfit-ksp

Fix Kotlin 2.2.21 compatibility: update IrClass.defaultType usage
  docs/CHANGELOG.md
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
Labels: documentation

Update Kotlin to 2.2.21 and KSP to 2.2.21-2.0.4
  gradle/libs.versions.toml
  kotlin-js-store/yarn.lock
Labels: none

Fix kctfork 0.10.1 API compatibility in tests
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/Utils.kt
Labels: ktorfit-ksp

Fix GitHub Worfklow
  .github/workflows/build.yml
Labels: none

Fix GitHub Worfklow
  .github/workflows/build.yml
Labels: none

Support Kotlin 2.2.21 (#946)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  kotlin-js-store/yarn.lock
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/Utils.kt
Labels: documentation, ktorfit-ksp

Bump KSP version
  example/AndroidOnlyExample/app/build.gradle.kts
  gradle/libs.versions.toml
Labels: build

Bump KSP version (#964)
  example/AndroidOnlyExample/app/build.gradle.kts
  gradle/libs.versions.toml
Labels: build

Fix KSP dependency handling for Android single target in multiplatform projects
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Fix KSP dependency handling for Android single target in multiplatform projects
  docs/CHANGELOG.md
Labels: documentation

Fix KSP dependency handling for Android single target in multiplatform projects
  docs/CHANGELOG.md
Labels: documentation

Fix KSP dependency handling for Android single target in multiplatform projects
  docs/CHANGELOG.md
Labels: documentation

Fix KSP dependency handling for Android single target in multiplatform projects
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Fix KSP dependency handling for Android single target in multiplatform projects
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Fix KSP dependency handling for Android single target in multiplatform projects (#966)
  docs/CHANGELOG.md
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: documentation, ktorfit-gradle-plugin

Fix generated code for composed annotations by removing prefix from member strings
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributesCodeGenerator.kt
Labels: documentation, ktorfit-ksp

Fix generated code for composed annotations by removing prefix from member strings
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributesCodeGenerator.kt
Labels: ktorfit-ksp

Fix generated code for composed annotations (#967)
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributesCodeGenerator.kt
Labels: documentation, ktorfit-ksp

Release 2.6.5
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  mkdocs.yml
Labels: documentation, ktorfit-gradle-plugin

Release 2.6.5
  gradle/libs.versions.toml
Labels: none

Release 2.6.5 (#968)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  mkdocs.yml
Labels: documentation, ktorfit-gradle-plugin

Update Samples
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/build.gradle
  example/AndroidOnlyExample/build.gradle.kts
  example/AndroidOnlyExample/gradle/libs.versions.toml
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/person/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
Labels: build

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'
