Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'

Update README.md
  README.md
Labels: none

deploy: eedce925b6907bc8c969f5c9b1933905970513bc
  CHANGELOG/index.html
  index.html
  installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Update to Kotlin 2.0.10 (#629)
  README.md
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

deploy: 9a58ad73aa13d643978e95554926cc6dc8172873
  CHANGELOG/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Change dependency name
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
Labels: build

Downgrade gradleMavenPublishPlugin
  gradle/libs.versions.toml
Labels: none

Update version numbers
  gradle/libs.versions.toml
Labels: none

Change artifact name
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
Labels: build

Update version numbers
  gradle/libs.versions.toml
Labels: none

Update Readme
  README.md
Labels: none

Update Readme
  README.md
Labels: none

Update example
  example/MultiplatformExample/androidApp/build.gradle.kts
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  example/MultiplatformExample/shared/src/androidMain/AndroidManifest.xml
Labels: build

Update example
  example/MultiplatformExample/shared/build.gradle.kts
  example/MultiplatformExample/shared/src/wasmJsMain/kotlin/com.example/StarWarsApi.kt
Labels: build

Update Readme
  README.md
Labels: none

Update Kotlin 2.0.20-RC
  gradle/libs.versions.toml
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: none

Update publish-converters.yml
  .github/workflows/publish-converters.yml
Labels: none

Fix test
  ktorfit-compiler-plugin/src/test/kotlin/de/jensklingenberg/ktorfit/FunctionTransformerTest.kt
Labels: none

Update README.md
  README.md
Labels: none

Update Kotlin 2.0.20-RC
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
Labels: build

Update changelog
  docs/CHANGELOG.md
Labels: documentation

Fix test
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReqBuilderAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/Utils.kt
Labels: ktorfit-ksp

Downgrade gradleMavenPublishPlugin
  gradle/libs.versions.toml
Labels: none

Fix test
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReqBuilderAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/Utils.kt
Labels: ktorfit-ksp

Update Kotlin 2.0.20-RC
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
Labels: build

Update Kotlin 2.0.20-RC
  gradle/libs.versions.toml
Labels: none

Update CHANGELOG.md
  docs/CHANGELOG.md
Labels: documentation

Update Kotlin 2.0.20-RC2
  gradle/libs.versions.toml
Labels: none

Update CHANGELOG.md
  docs/CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  docs/CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  docs/CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  docs/CHANGELOG.md
Labels: documentation

deploy: 7ad56f6caba73181f2d0a37293daf64836d994b5
  CHANGELOG/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Update CHANGELOG.md
  docs/CHANGELOG.md
Labels: documentation

deploy: e0d126e3eb09799c58794975aa023b251422f0d1
  CHANGELOG/index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

Update to Kotlin 2.0.20
  docs/CHANGELOG.md
  docs/development.md
  gradle/libs.versions.toml
Labels: documentation

Update to Kotlin 2.0.20
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
Labels: build

Update to Kotlin 2.0.20 (#641)
  docs/CHANGELOG.md
  docs/development.md
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReqBuilderAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/Utils.kt
Labels: build, documentation, ktorfit-ksp

Clean sandbox
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
  sandbox/src/jvmTest/java/TestClass.kt
  sandbox/src/linuxX64Main/kotlin/LinuxMain.kt
Labels: sandbox

Add multi module example
  example/MultiplatformExample/person/src/commonMain/kotlin/com/example/ktorfittest/People.kt
  example/MultiplatformExample/settings.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
Labels: build
