Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Add option to set or disable the Ktorfit compiler plugin #764 (#770)
  docs/CHANGELOG.md
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitPluginExtension.kt
Labels: documentation, ktorfit-gradle-plugin

Fix sample code for SuspendResponseConverter
  docs/converters/suspendresponseconverter.md
Labels: none

Fix headers code generation #752
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/annotations/ParameterAnnotation.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/QueryAnnotationsTest.kt
  sandbox/src/commonMain/kotlin/com/example/model/ExampleApi.kt
Labels: documentation, ktorfit-ksp, sandbox

Fix sample code for SuspendResponseConverter (#771)
  docs/converters/suspendresponseconverter.md
Labels: none

Fix headers code generation #752
  .editorconfig
Labels: none

Fix headers code generation #752
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/QueryAnnotationsTest.kt
Labels: ktorfit-ksp

Fix headers code generation #752 (#772)
  .editorconfig
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/annotations/ParameterAnnotation.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/QueryAnnotationsTest.kt
  sandbox/src/commonMain/kotlin/com/example/model/ExampleApi.kt
Labels: documentation, ktorfit-ksp, sandbox

Pass PR checks and tweak doc
  docs/requests.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributesCodeGeneration.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
  ktorfit-lib-core/api/android/ktorfit-lib-core.api
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
Labels: documentation, ktorfit-ksp

Merge attributes generation code and change `annotationsAttributeKey` name
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributeCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributesCodeGeneration.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributesCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/ReqBuilderExtensionNode.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/annotations.kt
Labels: ktorfit-ksp, ktorfit-lib

Add tests
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/MethodAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/TagAnnotationsTest.kt
Labels: ktorfit-ksp

Properly rename file and add another extension function
  docs/requests.md
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Annotations.kt
Labels: documentation, ktorfit-lib

Do not repeat @OptIn annotation for generated class
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec2.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/OptInTest.kt
Labels: documentation, ktorfit-ksp

Fix headers code generation #752
  .github/workflows/build.yml
Labels: none

Add GitHub Action error message (#775)
  .github/workflows/build.yml
Labels: none

Add test for opt in marker class deduplication
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/OptInTest.kt
Labels: ktorfit-ksp

Do not repeat @OptIn annotation for generated class (#773)
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec2.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/OptInTest.kt
Labels: documentation, ktorfit-ksp

Update to Ktor 3.1.0
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

Only include non ktorfit annotations, also dump api
  docs/requests.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributesCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/ReqBuilderExtensionNode.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/MethodAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
  ktorfit-lib-core/api/android/ktorfit-lib-core.api
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
Labels: documentation, ktorfit-ksp

Small cleanup
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
Labels: ktorfit-ksp

Revert small change
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
Labels: ktorfit-ksp

Include function annotations in request attribute (#759)
  docs/CHANGELOG.md
  docs/requests.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributeCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributesCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/ReqBuilderExtensionNode.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/AnnotationSpecExt.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/MethodAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/TagAnnotationsTest.kt
  ktorfit-lib-core/api/android/ktorfit-lib-core.api
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Annotations.kt
Labels: documentation, ktorfit-ksp, ktorfit-lib

Update to KSP 1.0.30
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
Labels: documentation

Update to KSP 1.0.30 (#779)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

Update to Ktor 3.1.0 (#780)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

Revert logback version
  gradle/libs.versions.toml
  sandbox/build.gradle.kts
Labels: build

Replace deprecated code
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/TypeInfoExt.kt
Labels: ktorfit-lib

Replace deprecated code
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/TypeInfoExt.kt
Labels: ktorfit-lib

Replace deprecated code
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
Labels: ktorfit-lib

Release 2.3.0
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/annotations/ParameterAnnotation.kt
Labels: documentation, ktorfit-gradle-plugin, ktorfit-ksp

Update example app
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/build.gradle
  example/MultiplatformExample/shared/build.gradle.kts
  example/MultiplatformExample/shared/src/commonMain/kotlin/com/example/ktorfittest/Greeting.kt
  ktorfit-annotations/build.gradle.kts
Labels: build

Release 2.3.0 (#784)
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/build.gradle
  example/MultiplatformExample/shared/build.gradle.kts
  example/MultiplatformExample/shared/src/commonMain/kotlin/com/example/ktorfittest/Greeting.kt
  gradle/libs.versions.toml
  ktorfit-annotations/build.gradle.kts
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/annotations/ParameterAnnotation.kt
Labels: build, documentation, ktorfit-gradle-plugin, ktorfit-ksp

Update gh-pages.yml
  .github/workflows/gh-pages.yml
Labels: none

deploy: 2b13a056f5d080ef6f39cd12b368cb9ca733fca1
  CHANGELOG/index.html
  converters/suspendresponseconverter/index.html
  requests/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Update mkdocs
  mkdocs.yml
Labels: none

deploy: 63135e91c8868643e416d80f4be25f8461fbb541
  installation/index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

Add KSP2 support
  docs/CHANGELOG.md
  gradle.properties
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ParameterData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSValueParameterExt.kt
Labels: documentation, ktorfit-gradle-plugin, ktorfit-ksp

Add KSP2 support (#790)
  docs/CHANGELOG.md
  gradle.properties
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ParameterData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSValueParameterExt.kt
Labels: documentation, ktorfit-gradle-plugin, ktorfit-ksp

Add watchosDeviceArm64 target
  docs/CHANGELOG.md
  ktorfit-annotations/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
Labels: build, documentation

Add watchosDeviceArm64 target (#792)
  docs/CHANGELOG.md
  ktorfit-annotations/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
Labels: build, documentation

Add label to bug report template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: none

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'
