Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'

Release 2.0.0-beta2
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/MainActivity.kt
  gradle/libs.versions.toml
  ktorfit-compiler-plugin/build.gradle.kts
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/ElementTransformer.kt
  ktorfit-compiler-plugin/src/test/kotlin/de/jensklingenberg/ktorfit/FunctionTransformerTest.kt
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-ksp/build.gradle.kts
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlCodeGeneration.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/QueryAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/RequestConverterTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/RequestTypeTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/StreamingAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/UrlTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlArgumentTextKtTest.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitInterface.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/BodyTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/BuilderTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/converter/ConverterFactoryTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitClientTest.kt
  sandbox/src/commonMain/kotlin/com/example/api/GithubService.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvmPlaceHolderApi.kt
Labels: build, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Release 2.0.0-beta2
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/MainActivity.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/ElementTransformer.kt
  ktorfit-ksp/build.gradle.kts
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  sandbox/src/commonMain/kotlin/com/example/api/GithubService.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: build, ktorfit-ksp, sandbox

Release 2.0.0-beta2
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/QueryTestApi.kt
Labels: ktorfit-gradle-plugin, sandbox

Release 2.0.0-beta2
  gradle/libs.versions.toml
Labels: none

Release 2.0.0-beta2
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
Labels: build

Release 2.0.0-beta2
  example/MultiplatformExample/shared/build.gradle.kts
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
Labels: build, ktorfit-gradle-plugin

Release 2.0.0-beta2
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/MainActivity.kt
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/ElementTransformer.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: build, ktorfit-ksp, sandbox

Release 2.0.0-beta2
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
Labels: ktorfit-ksp

Release 2.0.0-beta2
  ktorfit-ksp/build.gradle.kts
Labels: build

Release 2.0.0-beta2
  example/AndroidOnlyExample/app/build.gradle.kts
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-compiler-plugin/src/test/kotlin/de/jensklingenberg/ktorfit/FunctionTransformerTest.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
Labels: build, ktorfit-ksp

Release 2.0.0-beta2
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/MainActivity.kt
  gradle/libs.versions.toml
  ktorfit-compiler-plugin/build.gradle.kts
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/ElementTransformer.kt
  ktorfit-compiler-plugin/src/test/kotlin/de/jensklingenberg/ktorfit/FunctionTransformerTest.kt
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-ksp/build.gradle.kts
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlCodeGeneration.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/QueryAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/RequestConverterTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/RequestTypeTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/StreamingAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/UrlTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlArgumentTextKtTest.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitInterface.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/BodyTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/BuilderTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/converter/ConverterFactoryTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitClientTest.kt
  sandbox/src/commonMain/kotlin/com/example/api/GithubService.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvmPlaceHolderApi.kt
Labels: build, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Release 2.0.0-beta2
  example/AndroidOnlyExample/app/build.gradle.kts
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-compiler-plugin/src/test/kotlin/de/jensklingenberg/ktorfit/FunctionTransformerTest.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
Labels: build, ktorfit-ksp

Release 2.0.0-beta2
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
Labels: ktorfit-ksp

Release 2.0.0-beta2
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
Labels: build

Release 2.0.0-beta2
  example/MultiplatformExample/shared/build.gradle.kts
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
Labels: build, ktorfit-gradle-plugin

Release 2.0.0-beta2
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/QueryTestApi.kt
Labels: ktorfit-gradle-plugin, sandbox

Release 2.0.0-beta2
  gradle/libs.versions.toml
Labels: none

Release 2.0.0-beta2
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/MainActivity.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/ElementTransformer.kt
  ktorfit-ksp/build.gradle.kts
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  sandbox/src/commonMain/kotlin/com/example/api/GithubService.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: build, ktorfit-ksp, sandbox

Release 2.0.0-beta2
  ktorfit-ksp/build.gradle.kts
Labels: build

Release 2.0.0-beta2
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/MainActivity.kt
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/ElementTransformer.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: build, ktorfit-ksp, sandbox

Release 2.0.0-beta2
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/ElementTransformer.kt
Labels: none

Optimize code generation
  ktorfit-lib-core/api/android/ktorfit-lib-core.api
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
Labels: none

Optimize code generation
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/BodyTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/BuilderTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/converter/ConverterFactoryTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitClientTest.kt
Labels: ktorfit-lib

Optimize code generation (#550)
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/MainActivity.kt
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-compiler-plugin/build.gradle.kts
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-compiler-plugin/src/test/kotlin/de/jensklingenberg/ktorfit/FunctionTransformerTest.kt
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-ksp/build.gradle.kts
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlCodeGeneration.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/QueryAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/RequestConverterTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/RequestTypeTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/StreamingAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/UrlTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlArgumentTextKtTest.kt
  ktorfit-lib-core/api/android/ktorfit-lib-core.api
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitInterface.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/BodyTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/BuilderTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/converter/ConverterFactoryTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitClientTest.kt
  sandbox/src/commonMain/kotlin/com/example/api/GithubService.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvmPlaceHolderApi.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/QueryTestApi.kt
Labels: build, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Release 2.0.0-rc01
  docs/CHANGELOG.md
  docs/index.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  mkdocs.yml
Labels: documentation, ktorfit-gradle-plugin

Release 2.0.0-rc01 (#553)
  docs/CHANGELOG.md
  docs/index.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  mkdocs.yml
Labels: documentation, ktorfit-gradle-plugin

Update to Kotlin 2.0.0
  docs/installation.md
  docs/migration.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  mkdocs.yml
Labels: documentation, ktorfit-gradle-plugin

Update to Kotlin 2.0.0
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/MainActivity.kt
  example/MultiplatformExample/shared/build.gradle.kts
  mkdocs.yml
Labels: build

Update to Kotlin 2.0.0
  docs/CHANGELOG.md
  docs/architecture.md
  docs/converters/converters.md
  docs/installation.md
  docs/migration.md
  sandbox/src/commonMain/kotlin/com/example/ExampleApi.kt
Labels: documentation, sandbox

Update to Kotlin 2.0.0
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
Labels: documentation, ktorfit-gradle-plugin

Apply dependencies with Gradle plugin
  docs/CHANGELOG.md
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradleConfiguration.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: documentation, ktorfit-gradle-plugin

Apply dependencies with Gradle plugin
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Apply dependencies with Gradle plugin (#559)
  docs/CHANGELOG.md
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradleConfiguration.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: documentation, ktorfit-gradle-plugin

Split generated code between common code and platform specific code
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  sandbox/src/commonMain/kotlin/com/example/model/CommonClient.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/CreateIssue.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: build, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Split generated code between common code and platform specific code
  build.gradle.kts
  gradle/libs.versions.toml
  sandbox/build.gradle.kts
  settings.gradle.kts
Labels: build

Split generated code between common code and platform specific code
  ktorfit-ksp/build.gradle.kts
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
Labels: build, ktorfit-ksp

Split generated code between common code and platform specific code (#560)
  build.gradle.kts
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/build.gradle.kts
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/model/CommonClient.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/CreateIssue.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
  settings.gradle.kts
Labels: build, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Update installation page
  docs/installation.md
Labels: documentation

Update changelog
  docs/CHANGELOG.md
Labels: documentation

Update changelog
  docs/CHANGELOG.md
Labels: documentation
