Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Move CI to ubuntu-latest and centralize Java version in .java-version
  .github/workflows/build.yml
  .github/workflows/publish-converters.yml
  .github/workflows/publish-gradle-plugin.yml
  .github/workflows/publish.yml
  .java-version
Labels: none

Consolidate dependabot into renovate
  .github/dependabot.yml
  .github/workflows/update-gradle-wrapper.yml
  renovate.json5
Labels: ci

Remove unused catalog entries and add serialization plugin to root
  build.gradle.kts
  gradle/libs.versions.toml
Labels: build

Fix build issues from modernization
  build-logic/build.gradle.kts
  build.gradle.kts
  detekt-config.yml
  gradle/libs.versions.toml
  ktorfit-annotations/api/ktorfit-annotations.klib.api
  ktorfit-compiler-plugin/build.gradle.kts
  ktorfit-compiler-plugin/detekt-baseline.xml
  ktorfit-compiler-plugin/src/test/kotlin/de/jensklingenberg/ktorfit/FunctionTransformerTest.kt
  ktorfit-converters/call/api/call.klib.api
  ktorfit-converters/flow/api/flow.klib.api
  ktorfit-converters/response/api/response.klib.api
  ktorfit-ksp/detekt-baseline.xml
  ktorfit-lib-core/api/ktorfit-lib-core.klib.api
  ktorfit-lib/api/ktorfit-lib.klib.api
  sandbox/build.gradle.kts
  settings.gradle.kts
Labels: build

Add npm lock files after yarn-to-npm migration
  kotlin-js-store/package-lock.json
  kotlin-js-store/wasm/package-lock.json
Labels: none

Use GROUP instead of group in gradle.properties to preserve klib API
  gradle.properties
  ktorfit-annotations/api/ktorfit-annotations.klib.api
  ktorfit-converters/call/api/call.klib.api
  ktorfit-converters/flow/api/flow.klib.api
  ktorfit-converters/response/api/response.klib.api
  ktorfit-lib-core/api/ktorfit-lib-core.klib.api
  ktorfit-lib/api/ktorfit-lib.klib.api
Labels: none

Fix quick-win Kotlin warnings and add warnings plan doc
  docs/warnings-plan.md
  ktorfit-converters/call/src/jvmTest/kotlin/ConverterDefaultResponseConverter.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/FieldCodeGeneration.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/HeaderCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/PartsCodeGeneration.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/QueryCodeGeneration.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSFunctionDeclarationExt.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/KtorfitTest.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: documentation, ktorfit-ksp, ktorfit-lib, sandbox

Update AGP to 9.1.0
  build-logic/src/main/kotlin/ktorfit.kmp.gradle.kts
  gradle/libs.versions.toml
  ktorfit-annotations/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
Labels: build

Update maven publish plugin
  gradle/libs.versions.toml
Labels: none

Update gradle plugin publish
  gradle/libs.versions.toml
Labels: none

Cleanup gradle plugin module
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/build.gradle.kts
Labels: build

Add comment explaining the ktorfit versions in the catalog
  RELEASING.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/build.gradle.kts
Labels: build

Update mockk
  gradle/libs.versions.toml
Labels: none

Remove kapt
  docs/warnings-plan.md
  gradle/libs.versions.toml
  ktorfit-compiler-plugin/build.gradle.kts
  ktorfit-ksp/build.gradle.kts
Labels: build, documentation

Update releasing instructions
  RELEASING.md
  gradle/libs.versions.toml
Labels: none

Publish SNAPSHOT builds on pushes to master
  .github/workflows/publish-snapshot.yml
Labels: none

Fix more warnings
  ktorfit-ksp/build.gradle.kts
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/TypeInfoExt.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/BodyTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/BuilderDefaultResponseConverter.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/converter/ConverterFactoryTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitClientTest.kt
  sandbox/src/jsMain/kotlin/JsMain.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
  sandbox/src/linuxMain/kotlin/LinuxMain.kt
Labels: build, ktorfit-lib, sandbox

Clean up sandbox build.gradle.kts
  sandbox/build.gradle.kts
Labels: build

Handle deprecated API
  docs/warnings-plan.md
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/ElementTransformer.kt
Labels: documentation

Update Gradle checksum
  gradle/wrapper/gradle-wrapper.properties
Labels: none

Don't require signing when publishing to maven local
  build-logic/src/main/kotlin/ktorfit.publishing.gradle.kts
Labels: build

Simplify running tasks on all modules in GitHub Actions
  .github/workflows/build.yml
  .github/workflows/publish-snapshot.yml
  build-logic/src/main/kotlin/ktorfit.kmp.gradle.kts
Labels: build

Add test for #887
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/internal/TypeDataTest.kt
Labels: ktorfit-lib

Silence licensee unused license warning
  build-logic/src/main/kotlin/ktorfit.licensee.gradle.kts
  sandbox/build.gradle.kts
Labels: build

Don't apply kotlin(jvm) and kotlin-dsl plugins together
  ktorfit-gradle-plugin/build.gradle.kts
Labels: build

Make detekt quieter when there are no violations
  detekt-config.yml
Labels: none

More cleanup
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/FieldCodeGeneration.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/HeaderCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/PartsCodeGeneration.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/QueryCodeGeneration.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/RequestConverterTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/FieldArgumentsTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/PartsArgumentTextKtTest.kt
Labels: ktorfit-ksp

Update Ktlint
  gradle/libs.versions.toml
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/DebugLogger.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/KtorfitIrGenerationExtension.kt
  ktorfit-converters/call/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/CallConverterFactory.kt
  ktorfit-converters/flow/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/FlowConverterFactory.kt
  ktorfit-converters/response/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/ResponseClassSuspendConverter.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitPluginExtension.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitProcessor.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributesCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/AnnotationSpecExt.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSValueParameterExt.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/AnnotationsTest.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/TestStringToIntRequestConverter.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/converter/RequestParameterConverterTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/AnnotationsIntegrationTest.kt
Labels: ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib

Update package lock
  kotlin-js-store/package-lock.json
Labels: none

Update package lock
  kotlin-js-store/wasm/package-lock.json
Labels: none

Release 2.7.3
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  mkdocs.yml
Labels: documentation

Release 2.7.3 (#1055)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  mkdocs.yml
Labels: documentation

Update Ktor to v3.5.0
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

Update Ktor to v3.5.0
  kotlin-js-store/package-lock.json
Labels: none

Update Ktor to v3.5.0
  kotlin-js-store/wasm/package-lock.json
Labels: none

Update Ktor to v3.5.0 (#1059)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  kotlin-js-store/package-lock.json
  kotlin-js-store/wasm/package-lock.json
Labels: documentation

Remove Android-specific KSP dependency workaround and update ktorfit to v2.7.3
  example/MultiplatformExample/shared/build.gradle.kts
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: build, ktorfit-gradle-plugin

Remove Android-specific KSP dependency workaround and update ktorfit to v2.7.3
  example/MultiplatformExample/shared/build.gradle.kts
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: build, ktorfit-gradle-plugin

Update Kotlin to v2.4.0
  example/AndroidOnlyExample/gradle/libs.versions.toml
  gradle/libs.versions.toml
Labels: none

Auto-apply compiler plugin 2.3.5 for Kotlin 2.4.0
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
Labels: ktorfit-gradle-plugin

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'
