Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

2.7.4.
  docs/CHANGELOG.md
  docs/index.md
  gradle/libs.versions.toml
  mkdocs.yml
Labels: documentation

Release 2.7.4 (#1074)
  docs/CHANGELOG.md
  docs/index.md
  gradle/libs.versions.toml
  mkdocs.yml
Labels: documentation

Fix detecting the default compiler plugin
  ktorfit-compiler-plugin/Readme.md
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitPluginExtension.kt
Labels: ktorfit-gradle-plugin

Publish converters with the rest of the artifacts
  .github/workflows/publish.yml
Labels: none

Specify the correct readme to update in the release process
  RELEASING.md
Labels: none

Update the changelog
  docs/CHANGELOG.md
Labels: documentation

Update the ABI dump
  ktorfit-gradle-plugin/api/ktorfit-gradle-plugin.api
Labels: none

Fix default compiler plugin version (#1081)
  .github/workflows/publish.yml
  RELEASING.md
  docs/CHANGELOG.md
  ktorfit-compiler-plugin/Readme.md
  ktorfit-gradle-plugin/api/ktorfit-gradle-plugin.api
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitPluginExtension.kt
Labels: documentation, ktorfit-gradle-plugin

2.7.5.
  gradle/libs.versions.toml
  mkdocs.yml
Labels: none

2.7.5. (#1083)
  gradle/libs.versions.toml
  mkdocs.yml
Labels: none

deploy: 7de12c7331d3a85560e6bf10ca598c06aa64874b
  CHANGELOG/index.html
  installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Fix code generation for RequestType annotated lists
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ParameterData.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/RequestTypeTest.kt
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/api/JsonPlaceHolderApi.kt
  sandbox/src/commonMain/kotlin/com/example/model/ArrayToStringConverterFactory.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: build, documentation, ktorfit-ksp, sandbox

feat: per-target KSP code generation with self-registering API factory
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitOptions.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitApiRegistry.kt
Labels: build, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib

Adding feature toggle to per-feature-module generation
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitPluginExtension.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitOptions.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-lib-core/build.gradle.kts
Labels: build, ktorfit-gradle-plugin, ktorfit-ksp

Add unit tests and docs for per-target generation feature
  docs/architecture.md
  docs/configuration.md
  ktorfit-ksp/build.gradle.kts
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/KtorfitOptionsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/Utils.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpecTest.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/KtorfitTest.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitApiRegistryTest.kt
Labels: build, documentation, ktorfit-ksp, ktorfit-lib

Split enableFactoryRegistry into independent toggle from perTargetGeneration
  docs/architecture.md
  ktorfit-gradle-plugin/api/ktorfit-gradle-plugin.api
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitPluginExtension.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitOptions.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/KtorfitOptionsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/Utils.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpecTest.kt
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
  ktorfit-lib-core/api/ktorfit-lib-core.klib.api
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/ExperimentalFactoryRegistry.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitApiRegistry.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/optins/KtorfitFactoryRegistry.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/KtorfitTest.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitApiRegistryTest.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitFactoryRegistryTest.kt
Labels: documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib

Sandbox module adjustments
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/model/CommonClient.kt
  sandbox/src/commonTest/kotlin/com/example/SummonStormtroopersTest.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
  sandbox/src/linuxMain/kotlin/LinuxMain.kt
  settings.gradle.kts
Labels: build, ktorfit-gradle-plugin, sandbox

Replace registry-based API creation with expect/actual pattern
  docs/architecture.md
  docs/configuration.md
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitPluginExtension.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitOptions.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitProcessor.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/KtorfitOptionsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpecTest.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/ExperimentalFactoryRegistry.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/optins/KtorfitFactoryRegistry.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/KtorfitTest.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitFactoryRegistryTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/BodyTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/BuilderDefaultResponseConverter.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/converter/ConverterFactoryTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitClientTest.kt
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/api/GithubService.kt
  sandbox/src/commonMain/kotlin/com/example/api/JsonPlaceHolderApi.kt
  sandbox/src/commonMain/kotlin/com/example/api/KtorSamplesApi.kt
  sandbox/src/commonMain/kotlin/com/example/api/StarWarsApi.kt
  sandbox/src/commonMain/kotlin/com/example/model/CommonClient.kt
  sandbox/src/commonMain/kotlin/com/example/model/ExampleApi.kt
  sandbox/src/commonTest/kotlin/com/example/SummonStormtroopersTest.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
  sandbox/src/linuxMain/kotlin/LinuxMain.kt
Labels: build, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Ktlint and Api fixes
  ktorfit-gradle-plugin/api/ktorfit-gradle-plugin.api
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/KtorfitOptionsTest.kt
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
  ktorfit-lib-core/api/ktorfit-lib-core.klib.api
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/KtorfitTest.kt
Labels: ktorfit-ksp, ktorfit-lib

Rollback sandbox module changes for internal testing
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/api/GithubService.kt
  sandbox/src/commonMain/kotlin/com/example/api/JsonPlaceHolderApi.kt
  sandbox/src/commonMain/kotlin/com/example/api/KtorSamplesApi.kt
  sandbox/src/commonMain/kotlin/com/example/api/StarWarsApi.kt
  sandbox/src/commonMain/kotlin/com/example/model/ExampleApi.kt
  settings.gradle.kts
Labels: build, ktorfit-gradle-plugin, sandbox

Rollback removing providers generation code used by create method
  docs/architecture.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpecTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/BodyTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/BuilderDefaultResponseConverter.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/converter/ConverterFactoryTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitClientTest.kt
  sandbox/src/commonMain/kotlin/com/example/api/KtorSamplesApi.kt
Labels: documentation, ktorfit-ksp, ktorfit-lib, sandbox

Removing left over code
  ktorfit-ksp/build.gradle.kts
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitClientTest.kt
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/api/GithubService.kt
  sandbox/src/commonMain/kotlin/com/example/api/JsonPlaceHolderApi.kt
  sandbox/src/commonMain/kotlin/com/example/api/KtorSamplesApi.kt
  sandbox/src/commonMain/kotlin/com/example/api/StarWarsApi.kt
  sandbox/src/commonMain/kotlin/com/example/model/ExampleApi.kt
  sandbox/src/commonTest/kotlin/com/example/SummonStormtroopersTest.kt
Labels: build, ktorfit-lib, sandbox

#1091: Added @MustBeDocumented to annotations
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/Body.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/DELETE.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/Field.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/FieldMap.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/FormUrlEncoded.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/GET.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/HEAD.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/HTTP.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/Header.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/HeaderMap.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/Headers.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/Multipart.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/OPTIONS.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/PATCH.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/POST.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/PUT.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/Part.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/PartMap.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/Path.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/Query.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/QueryMap.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/QueryName.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/ReqBuilder.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/RequestType.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/Streaming.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/Tag.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/Url.kt
Labels: none

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'
