Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'

Update documentation
  docs/CHANGELOG.md
Labels: documentation

Update documentation
  docs/CHANGELOG.md
Labels: documentation

Update documentation
  docs/CHANGELOG.md
Labels: documentation

Update documentation
  docs/CHANGELOG.md
Labels: documentation

Add DontSwallowExceptionsConverterFactory
  docs/CHANGELOG.md
  ktorfit-lib-core/api/android/ktorfit-lib-core.api
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/DontSwallowExceptionsConverterFactory.kt
Labels: documentation, ktorfit-lib

Catch Throwable instead of exception
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
Labels: ktorfit-lib

Release 2.1.0
  docs/CHANGELOG.md
  docs/index.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: documentation, ktorfit-gradle-plugin

Release 2.1.0
  docs/CHANGELOG.md
Labels: documentation

Release 2.1.0
  docs/CHANGELOG.md
Labels: documentation

Release 2.1.0
  docs/CHANGELOG.md
Labels: documentation

Release 2.1.0
  docs/CHANGELOG.md
Labels: documentation

Release 2.1.0
  docs/CHANGELOG.md
Labels: documentation

Release 2.1.0
  mkdocs.yml
Labels: none

Release 2.1.0
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: documentation, ktorfit-gradle-plugin

Update publish-converters.yml
  .github/workflows/publish-converters.yml
Labels: none

Release 2.1.0
  gradle/libs.versions.toml
Labels: none

Release 2.1.0
  gradle/libs.versions.toml
Labels: none

Release 2.1.0
  gradle/libs.versions.toml
Labels: none

Release 2.1.0
  gradle/libs.versions.toml
Labels: none

Release 2.1.0 (#662)
  docs/CHANGELOG.md
  docs/index.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  mkdocs.yml
Labels: documentation, ktorfit-gradle-plugin

update GitHub workflow
  .github/workflows/publish-converters.yml
  .github/workflows/publish.yml
  README.md
Labels: none

update Readme
  README.md
  docs/development.md
Labels: documentation

update Readme
  example/MultiplatformExample/settings.gradle.kts
Labels: build

deploy: 91af4328151843e38243dd6d575bd677ba5453a4
  404.html
  CHANGELOG/index.html
  License/index.html
  android/proguard/index.html
  architecture/index.html
  configuration/index.html
  converters/converters/index.html
  converters/example1/index.html
  converters/migration/index.html
  converters/requestparameterconverter/index.html
  converters/responseconverter/index.html
  converters/suspendresponseconverter/index.html
  development/index.html
  fundamentals/scope/index.html
  index.html
  installation/index.html
  knownissues/index.html
  migration/index.html
  quick-start/index.html
  requests/index.html
  responseconverter/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  suspendresponseconverter/index.html
Labels: none

WIP
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/TypeInfo.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitProcessor.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/BodyAnnotationsTest.kt
  sandbox/src/commonMain/kotlin/com/example/model/ExampleApi.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/HeaderTestApi.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: ktorfit-ksp, sandbox

WIP
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/ReturnType.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitError.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ParameterData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ReturnTypeData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/annotations/ParameterAnnotation.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ParameterSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/Utils.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSValueParameterExt.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/Utils.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/FieldAnnotationsTest.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/api/JsonPlaceHolderApi.kt
  sandbox/src/commonMain/kotlin/com/example/api/StarWarsApi.kt
  sandbox/src/commonMain/kotlin/com/example/model/ExampleApi.kt
  sandbox/src/commonMain/kotlin/com/example/model/MyOwnResponseConverterFactory.kt
  sandbox/src/commonMain/kotlin/com/example/model/People.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: build, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Improvements
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ParameterData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/Utils.kt
Labels: ktorfit-ksp

WIP
  docs/faq.md
  example/MultiplatformExample/iosApp/Pods/Local Podspecs/shared.podspec.json
  example/MultiplatformExample/iosApp/Pods/Manifest.lock
  example/MultiplatformExample/iosApp/Pods/Pods.xcodeproj/project.pbxproj
  example/MultiplatformExample/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.debug.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.release.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/shared/shared.debug.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/shared/shared.release.xcconfig
  example/MultiplatformExample/shared/build.gradle.kts
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/Skip.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/FieldAnnotationsTest.kt
  sandbox/src/commonMain/kotlin/com/example/UserFactory.kt
  sandbox/src/commonMain/kotlin/com/example/api/JsonPlaceHolderApi.kt
  sandbox/src/commonMain/kotlin/com/example/api/StarWarsApi.kt
Labels: build, documentation, ktorfit-ksp, sandbox

Update Ksp to 1.0.25
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

Update Ksp to 1.0.25
  gradle/libs.versions.toml
Labels: none

Update Ksp to 1.0.25 (#667)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

Code optimization
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ParameterData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ReturnTypeData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ParameterSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/ReqBuilderExtensionNode.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSFunctionDeclarationExt.kt
Labels: ktorfit-ksp

Code optimization (#668)
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ParameterData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ReturnTypeData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ParameterSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/ReqBuilderExtensionNode.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSFunctionDeclarationExt.kt
Labels: ktorfit-ksp

Generate delegation code only for known interfaces #663
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/InheritanceTest.kt
Labels: documentation, ktorfit-ksp

Generate delegation code only for known interfaces #663
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/InheritanceTest.kt
Labels: ktorfit-ksp

Generate delegation code only for known interfaces #663 (#669)
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/InheritanceTest.kt
Labels: documentation, ktorfit-ksp

Fix badge
  README.md
Labels: none

Propate OptIn annotations to generated class #666
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/OptInTest.kt
Labels: documentation, ktorfit-ksp

Propate OptIn annotations to generated class #666
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/OptInTest.kt
Labels: documentation, ktorfit-ksp

Propagate OptIn annotations to generated class #666 (#670)
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/OptInTest.kt
Labels: documentation, ktorfit-ksp
