Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'

Add GitHub workflow for Gradle plugin publish
  .github/workflows/publish-gradle-plugin.yml
Labels: none

Add GitHub workflow for Gradle plugin publish
  .github/workflows/publish-gradle-plugin.yml
Labels: none

Add GitHub workflow for Gradle plugin publish
  .github/workflows/publish-gradle-plugin.yml
Labels: none

Update example project
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/MainActivity.kt
  example/AndroidOnlyExample/build.gradle
  example/MultiplatformExample/shared/build.gradle.kts
  example/MultiplatformExample/shared/src/commonMain/kotlin/com/example/ktorfittest/Greeting.kt
Labels: build

Fix ClassCastException in compiler plugin
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: sandbox

Fix ClassCastException in compiler plugin
  docs/CHANGELOG.md
Labels: documentation

Fix ClassCastException in compiler plugin
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
Labels: none

Fix ClassCastException in compiler plugin (#900)
  docs/CHANGELOG.md
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: documentation, sandbox

Release 2.6.4
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  mkdocs.yml
Labels: documentation, ktorfit-gradle-plugin

Release 2.6.4
  gradle/libs.versions.toml
Labels: none

Release 2.6.4
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Release 2.6.4
  .github/workflows/publish-gradle-plugin.yml
Labels: none

Release 2.6.4
  .github/workflows/publish-gradle-plugin.yml
Labels: none

Release 2.6.4 (#904)
  .github/workflows/publish-gradle-plugin.yml
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  mkdocs.yml
Labels: documentation, ktorfit-gradle-plugin

Update example projects
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
Labels: build

Update documentation
  docs/index.md
Labels: documentation

deploy: 026ea7e2800e571327d7efbd8e3318fe9a0fe449
  CHANGELOG/index.html
  index.html
  installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Resolve detekt issues with brain methods, divide and conquer
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/annotations/ParameterAnnotation.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/HeaderCodeGenerator.kt
Labels: ktorfit-ksp

Add don't override a method with NoDelegation and have body
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/core/NoDelegation.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitError.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/NoDelegationMethodTest.kt
Labels: ktorfit-ksp

Update Gradle Wrapper from 8.14.3 to 9.0.0
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.jar
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.properties
  example/AndroidOnlyExample/gradlew
Labels: none

Update Gradle Wrapper from 8.14.3 to 9.0.0
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.jar
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.properties
  example/MultiplatformExample/gradlew
Labels: none

Update Gradle Wrapper from 8.14.3 to 9.0.0
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: ci

Fix KSP version extraction logic in the Gradle plugin
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Fix string
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Fix KSP version extraction logic in the Gradle plugin (#931)
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Update Gradle Wrapper from 8.14.3 to 9.1.0
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.jar
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.properties
  example/AndroidOnlyExample/gradlew
  example/AndroidOnlyExample/gradlew.bat
Labels: none

Update Gradle Wrapper from 8.14.3 to 9.1.0
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.jar
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.properties
  example/MultiplatformExample/gradlew
  example/MultiplatformExample/gradlew.bat
Labels: none

Update Gradle Wrapper from 8.14.3 to 9.1.0
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: none

Update Gradle Api
  ktorfit-gradle-plugin/api/ktorfit-gradle-plugin.api
Labels: none

Update Gradle Wrapper from 8.14.3 to 9.2.0
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.jar
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.properties
  example/AndroidOnlyExample/gradlew
  example/AndroidOnlyExample/gradlew.bat
Labels: none

Update Gradle Wrapper from 8.14.3 to 9.2.0
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.jar
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.properties
  example/MultiplatformExample/gradlew
  example/MultiplatformExample/gradlew.bat
Labels: none

Update Gradle Wrapper from 8.14.3 to 9.2.0
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: none

generics
  example/MultiplatformExample/iosApp/iosApp.xcodeproj/project.pbxproj
  example/MultiplatformExample/iosApp/iosApp.xcodeproj/xcuserdata/jens.klingenberg.xcuserdatad/xcschemes/iosApp.xcscheme
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/ReturnType.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitError.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ParameterData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/annotations/ParameterAnnotation.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec2.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ParameterSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/Utils.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSValueParameterExt.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/Utils.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/InheritanceTest.kt
  sandbox/src/commonMain/kotlin/com/example/api/StarWarsApi.kt
  sandbox/src/commonMain/kotlin/com/example/model/CommonClient.kt
  sandbox/src/commonMain/kotlin/com/example/model/ExampleApi.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/HeaderTestApi.kt
Labels: ktorfit-ksp, sandbox

Update Gradle Wrapper from 8.14.3 to 9.2.1
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.jar
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.properties
  example/AndroidOnlyExample/gradlew
  example/AndroidOnlyExample/gradlew.bat
Labels: none

Update Gradle Wrapper from 8.14.3 to 9.2.1
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.jar
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.properties
  example/MultiplatformExample/gradlew
  example/MultiplatformExample/gradlew.bat
Labels: none

Update Gradle Wrapper from 8.14.3 to 9.2.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: none

Support Kotlin 2.3.0
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  kotlin-js-store/yarn.lock
  ktorfit-compiler-plugin/api/ktorfit-compiler-plugin.api
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CommonCompilerPluginRegistrar.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/ExampleCommandLineProcessor.kt
  ktorfit-gradle-plugin/api/ktorfit-gradle-plugin.api
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/Utils.kt
Labels: documentation, ktorfit-ksp

Update Gradle to 9.2.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: none

lw1
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/core/TypeConverters.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitProcessor.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/annotations/FunctionAnnotation.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec2.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSFunctionDeclarationExt.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/BodyAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
  sandbox/src/commonMain/kotlin/com/example/api/GithubService.kt
  sandbox/src/commonMain/kotlin/com/example/api/MyConv.kt
  sandbox/src/commonMain/kotlin/com/example/api/Response.kt
  sandbox/src/commonMain/kotlin/com/example/api/StarWarsApi.kt
  sandbox/src/commonMain/kotlin/com/example/model/ExampleApi.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvmPlaceHolderApi.kt
Labels: ktorfit-ksp, sandbox
