Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Add support for class-level annotations in generated implementation classes
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec.kt
Labels: documentation, ktorfit-ksp

Add support for class-level annotations in generated implementation classes
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec.kt
Labels: ktorfit-ksp

Add support for class-level annotations in generated implementation classes (#989)
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec.kt
Labels: documentation, ktorfit-ksp

Add parameter import only when needed
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
Labels: ktorfit-ksp

Add parameter import only when needed (#990)
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
Labels: ktorfit-ksp

Update Ktor version to 3.3.3
  docs/CHANGELOG.md
  example/MultiplatformExample/person/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
Labels: build, documentation

Update Ktor version to 3.3.3 (#991)
  docs/CHANGELOG.md
  example/MultiplatformExample/person/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
Labels: build, documentation

Update Kdoc
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitPluginExtension.kt
Labels: ktorfit-gradle-plugin

Remove unnecessary import and conditionally add decodeURLQueryComponent import
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
Labels: ktorfit-ksp

Remove unnecessary import and conditionally add decodeURLQueryComponent import (#992)
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
Labels: ktorfit-ksp

Release 2.7.0
  docs/CHANGELOG.md
  docs/index.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/gradle/libs.versions.toml
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-compiler-plugin/Readme.md
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec.kt
  mkdocs.yml
  sandbox/src/commonMain/kotlin/com/example/api/GithubService.kt
Labels: build, documentation, ktorfit-gradle-plugin, ktorfit-ksp, sandbox

Release 2.7.0
  gradle/libs.versions.toml
  ktorfit-compiler-plugin/Readme.md
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Downgrade Kotlin version
  gradle/libs.versions.toml
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Downgrade Kotlin version
  docs/CHANGELOG.md
Labels: documentation

Downgrade Kotlin version
  docs/CHANGELOG.md
Labels: documentation

Downgrade Kotlin version
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CommonCompilerPluginRegistrar.kt
Labels: none

Downgrade Kotlin version
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/ExampleCommandLineProcessor.kt
Labels: none

Downgrade Kotlin version (#994)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CommonCompilerPluginRegistrar.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/ExampleCommandLineProcessor.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: documentation, ktorfit-gradle-plugin

Release 2.7.1
  example/AndroidOnlyExample/gradle/libs.versions.toml
  example/AndroidOnlyExample/settings.gradle.kts
  example/MultiplatformExample/settings.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
Labels: build

Filter out @Throws annotations from generated implementations
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ThrowsAnnotationTest.kt
  sandbox/src/commonMain/kotlin/com/example/api/GithubService.kt
Labels: documentation, ktorfit-ksp, sandbox

Filter out @Throws annotations from generated implementations
  gradle/libs.versions.toml
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ThrowsAnnotationTest.kt
Labels: ktorfit-ksp

Filter out @Throws annotations from generated implementations
  gradle/libs.versions.toml
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ThrowsAnnotationTest.kt
Labels: ktorfit-ksp

Filter out @Throws annotations from generated implementations (#996)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ThrowsAnnotationTest.kt
  sandbox/src/commonMain/kotlin/com/example/api/GithubService.kt
Labels: documentation, ktorfit-ksp, sandbox

Release 2.7.1
  docs/CHANGELOG.md
Labels: documentation

Release 2.7.1 (#997)
  docs/CHANGELOG.md
  example/AndroidOnlyExample/gradle/libs.versions.toml
  example/AndroidOnlyExample/settings.gradle.kts
  example/MultiplatformExample/settings.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
Labels: build, documentation

Update documentation
  docs/CHANGELOG.md
  ktorfit-compiler-plugin/Readme.md
Labels: documentation

Determine the default compiler plugin version from the Kotlin version
  RELEASING.md
  ktorfit-gradle-plugin/api/ktorfit-gradle-plugin.api
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Enhance HttpStatement handling and update Ktorfit plugin version
  gradle/libs.versions.toml
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/StreamingAnnotationTest.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  sandbox/src/commonMain/kotlin/com/example/api/GithubService.kt
Labels: ktorfit-ksp, ktorfit-lib, sandbox

Enhance HTTP request handling by adding support for HttpResponse
  gradle/libs.versions.toml
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  sandbox/src/commonMain/kotlin/com/example/api/GithubService.kt
Labels: ktorfit-ksp, ktorfit-lib, sandbox

Enhance HTTP request handling by adding support for HttpResponse
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/StreamingAnnotationTest.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
Labels: ktorfit-ksp, ktorfit-lib

Refactor request handling to use HttpResponse lambda for improved clarity
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
Labels: ktorfit-ksp, ktorfit-lib

Refactor request handling to use HttpResponse lambda for improved clarity
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
Labels: ktorfit-ksp

Update apiDump
  ktorfit-lib-core/api/android/ktorfit-lib-core.api
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
Labels: none

Update apiDump
  ktorfit-lib-core/api/ktorfit-lib-core.klib.api
Labels: none

Determine the default compiler plugin version from the Kotlin version (#999)
  RELEASING.md
  ktorfit-gradle-plugin/api/ktorfit-gradle-plugin.api
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Add grouping for GitHub Actions updates
  .github/dependabot.yml
Labels: ci

Add preview documentation workflow and project configuration
  .github/workflows/preview-docs.yaml
  pyproject.toml
Labels: none

Add preview documentation workflow and project configuration
  .github/workflows/preview-docs.yaml
Labels: none

Add preview documentation workflow and project configuration
  .github/workflows/preview-docs.yaml
Labels: none

Add grouping for GitHub Actions updates (#1011)
  .github/dependabot.yml
Labels: ci

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'
