Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Remove auto apply for Flow/Call converters
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
Labels: ktorfit-gradle-plugin, ktorfit-lib

Remove version from Gradle Plugin
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradleConfiguration.kt
Labels: ktorfit-gradle-plugin

Remove deprecated converters
  ktorfit-converters/call/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/CallResponseConverter.kt
  ktorfit-converters/flow/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/FlowResponseConverter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/SuspendResponseConverter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/request/CoreResponseConverter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/request/RequestConverter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/request/ResponseConverter.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/CreateIssue.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/RxRequestConverter.kt
  sandbox/src/linuxX64Main/kotlin/LinuxMain.kt
Labels: ktorfit-lib, sandbox

Remove deprecated converters
  gradle/libs.versions.toml
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/SuspendResponseConverter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/request/CoreResponseConverter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/request/RequestConverter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/request/ResponseConverter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/HandleDeprecatedConverters.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/converter/ConverterTest.kt
Labels: ktorfit-lib

Remove deprecated converters
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
Labels: ktorfit-ksp, ktorfit-lib

Remove deprecated converters
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradleConfiguration.kt
Labels: ktorfit-gradle-plugin

Remove unused code
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
Labels: ktorfit-ksp, ktorfit-lib

Move Response to own module
  ktorfit-converters/response/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Response.kt
  ktorfit-converters/response/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/DefaultResponseClassSuspendConverter.kt
  ktorfit-converters/response/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/KtorfitDefaultConverterFactory.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  sandbox/build.gradle.kts
  settings.gradle.kts
Labels: build, ktorfit-lib

Move Response to own module
  .github/workflows/build.yml
  .github/workflows/publish.yml
  ktorfit-converters/call/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/CallConverterFactory.kt
  ktorfit-converters/call/src/jvmTest/kotlin/ConverterTest.kt
  ktorfit-converters/flow/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/FlowConverterFactory.kt
  ktorfit-converters/response/build.gradle.kts
  ktorfit-converters/response/src/androidMain/AndroidManifest.xml
  ktorfit-converters/response/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/DefaultResponseClassSuspendConverter.kt
  ktorfit-converters/response/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/KtorfitResponseConverterFactory.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/Converter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/DefaultSuspendResponseConverterFactory.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/KtorfitTest.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/internal/RequestDataTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/converter/ConverterFactoryTest.kt
  sandbox/src/commonMain/kotlin/com/example/UserFactory.kt
  sandbox/src/commonMain/kotlin/com/example/model/MyOwnResponseConverter.kt
Labels: build, ktorfit-lib, sandbox

Add wasm
  build.gradle.kts
  example/MultiplatformExample/shared/shared.podspec
  gradle/libs.versions.toml
  ktorfit-annotations/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradleConfiguration.kt
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
  sandbox/build.gradle.kts
Labels: build, ktorfit-gradle-plugin

Remove deprecated code
  ktorfit-converters/call/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/CallConverterFactory.kt
  ktorfit-converters/flow/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/FlowConverterFactory.kt
  ktorfit-converters/response/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/DefaultResponseClassSuspendConverter.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/Converter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/DefaultSuspendResponseConverterFactory.kt
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/UserFactory.kt
  sandbox/src/commonMain/kotlin/com/example/model/MyOwnResponseConverter.kt
Labels: build, ktorfit-ksp, ktorfit-lib, sandbox

Remove deprecated code
  gradle/libs.versions.toml
Labels: none

Remove deprecated code
  ktorfit-annotations/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
Labels: build

Change ConverterHelper
  ktorfit-annotations/build.gradle.kts
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
Labels: build, ktorfit-lib

Fix compile errors #505 #496
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-compiler-plugin/src/test/kotlin/de/jensklingenberg/ktorfit/FunctionTransformerTest.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlCodeGeneration.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/QueryAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/UrlTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlArgumentTextKtTest.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitInterface.kt
  sandbox/build.gradle.kts
Labels: build, documentation, ktorfit-ksp, ktorfit-lib

Fix compile errors #505 #496
  ktorfit-lib-core/api/android/ktorfit-lib-core.api
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitInterface.kt
Labels: ktorfit-lib

Fix compile errors #505 #496
  ktorfit-converters/response/api/android/call.api
  ktorfit-converters/response/api/jvm/call.api
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
Labels: none

Fix compile errors #505 #496
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/BodyTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/BuilderTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/converter/ConverterFactoryTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/converter/ConverterTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitClientTest.kt
Labels: ktorfit-lib

Fix compile errors (#506)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-compiler-plugin/src/test/kotlin/de/jensklingenberg/ktorfit/FunctionTransformerTest.kt
  ktorfit-converters/response/api/android/call.api
  ktorfit-converters/response/api/jvm/call.api
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlCodeGeneration.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/QueryAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/UrlTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlArgumentTextKtTest.kt
  ktorfit-lib-core/api/android/ktorfit-lib-core.api
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitInterface.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/BodyTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/BuilderTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/converter/ConverterFactoryTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/converter/ConverterTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitClientTest.kt
  sandbox/build.gradle.kts
Labels: build, documentation, ktorfit-ksp, ktorfit-lib

Release 1.11.1
  README.md
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradleConfiguration.kt
Labels: build, documentation, ktorfit-gradle-plugin

Release 1.11.1 (#507)
  README.md
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradleConfiguration.kt
Labels: build, documentation, ktorfit-gradle-plugin

Update Kotlin/KSP to 1.9.22
  gradle/libs.versions.toml
Labels: none

Update Kotlin/KSP to 1.9.22
  docs/CHANGELOG.md
Labels: documentation

Update Kotlin/KSP to 1.9.22 (#509)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

Release 1.12.0
  README.md
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradleConfiguration.kt
Labels: build, documentation, ktorfit-gradle-plugin

Release 1.12.0
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/build.gradle
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/iosApp/Podfile.lock
  example/MultiplatformExample/iosApp/Pods/Manifest.lock
  example/MultiplatformExample/iosApp/Pods/Pods.xcodeproj/project.pbxproj
  example/MultiplatformExample/shared/build.gradle.kts
  example/MultiplatformExample/shared/shared.podspec
Labels: build

Release 1.12.0
  docs/CHANGELOG.md
Labels: documentation

Release 1.12.0 (#514)
  README.md
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/build.gradle
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/iosApp/Podfile.lock
  example/MultiplatformExample/iosApp/Pods/Manifest.lock
  example/MultiplatformExample/iosApp/Pods/Pods.xcodeproj/project.pbxproj
  example/MultiplatformExample/shared/build.gradle.kts
  example/MultiplatformExample/shared/shared.podspec
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradleConfiguration.kt
Labels: build, documentation, ktorfit-gradle-plugin

Response returns NullBody instead of null for StatusCode 204 and 205
  docs/CHANGELOG.md
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/DefaultResponseClassSuspendConverter.kt
Labels: documentation, ktorfit-lib

Update KSP 1.0.19, Kotlin 1.9.23, Ktor 2.3.9
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/StarWarsApi.kt
  example/MultiplatformExample/shared/src/commonMain/kotlin/com/example/ktorfittest/StarWarsApi.kt
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
Labels: build, documentation

Update KSP 1.0.19, Kotlin 1.9.23, Ktor 2.3.9
  docs/CHANGELOG.md
Labels: documentation

Update KSP 1.0.19, Kotlin 1.9.23, Ktor 2.3.9
  .github/workflows/build.yml
Labels: none

Update KSP 1.0.19, Kotlin 1.9.23, Ktor 2.3.9 (#525)
  .github/workflows/build.yml
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/StarWarsApi.kt
  example/MultiplatformExample/shared/src/commonMain/kotlin/com/example/ktorfittest/StarWarsApi.kt
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
Labels: build, documentation

Update index.md
  docs/index.md
Labels: documentation

Prepare release 1.13.0
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  mkdocs.yml
Labels: documentation

Prepare release/1.13.0 (#527)
  docs/CHANGELOG.md
  docs/index.md
  gradle/libs.versions.toml
  mkdocs.yml
Labels: documentation

Update KSP and Ktor
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  mkdocs.yml
Labels: documentation

Update example projects
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/build.gradle
  example/MultiplatformExample/androidApp/build.gradle.kts
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
Labels: build

Update to Kotlin 2.0.0-RC1
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

deploy: 24e2b1725dce2bed03d8b844e522c9676d9813c6
  CHANGELOG/index.html
  index.html
  installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'
