Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'

Move WebSocket to own module
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  sandbox/src/commonMain/kotlin/com/example/api/WebSocket.kt
  sandbox/src/commonMain/kotlin/com/example/api/WebSocketImpl.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/QueryTestApi.kt
Labels: ktorfit-lib, sandbox

Move WebSocket to own module
  ktorfit-converters/websocket/src/commonMain/kotlin/de/jensklingenberg/ktorfit/WebSocket.kt
  ktorfit-converters/websocket/src/commonMain/kotlin/de/jensklingenberg/ktorfit/WebSocketImpl.kt
  ktorfit-converters/websocket/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/WebSocketFactory.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/Converter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: ktorfit-lib, sandbox

Update to KSP 1.0.22
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/settings.gradle
  example/MultiplatformExample/androidApp/build.gradle.kts
  example/MultiplatformExample/settings.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
Labels: build

Update to KSP 1.0.22
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/settings.gradle
  example/MultiplatformExample/settings.gradle.kts
Labels: build

Update to KSP 1.0.22 (#589)
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/settings.gradle
  example/MultiplatformExample/androidApp/build.gradle.kts
  example/MultiplatformExample/settings.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
Labels: build

Ignore `.kotlin`
  .gitignore
Labels: none

Use `buildDirectory` location from project layout
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Fix build location (#592)
  .gitignore
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Setup potential wasmJS support
  ktorfit-annotations/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib/build.gradle.kts
Labels: build, ktorfit-lib

WIP
  example/MultiplatformExample/iosApp/Podfile.lock
  example/MultiplatformExample/iosApp/Pods/Local Podspecs/shared.podspec.json
  example/MultiplatformExample/iosApp/Pods/Manifest.lock
  example/MultiplatformExample/iosApp/Pods/Pods.xcodeproj/project.pbxproj
  example/MultiplatformExample/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.debug.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.release.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/shared/shared.debug.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/shared/shared.release.xcconfig
  example/MultiplatformExample/lib/.gitignore
  example/MultiplatformExample/lib/build.gradle.kts
  example/MultiplatformExample/lib/src/androidMain/AndroidManifest.xml
  example/MultiplatformExample/lib/src/commonMain/kotlin/com/example/lib/MyClass.kt
  example/MultiplatformExample/lib/src/commonMain/kotlin/com/example/lib/People.kt
  example/MultiplatformExample/settings.gradle.kts
  example/MultiplatformExample/shared/shared.podspec
  example/MultiplatformExample/shared/src/commonMain/kotlin/com/example/ktorfittest/StarWarsApi.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitOptions.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitProcessor.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Test.kt
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/api/GithubService.kt
  sandbox/src/commonMain/kotlin/com/example/model/CommonClient.kt
Labels: build, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Use ktlint
  ktorfit-converters/response/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Response.kt
Labels: none

Use ktlint
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/FieldAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/UrlTest.kt
Labels: ktorfit-ksp

Use ktlint
  ktorfit-ksp/build.gradle.kts
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/Utils.kt
Labels: build, ktorfit-ksp

Replace gradle-build-action
  .github/workflows/build.yml
Labels: none

Resolve types that are not in the same modules #594
  .editorconfig
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitError.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ReturnTypeData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ParameterSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/Utils.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributeCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/FieldCodeGeneration.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/HeaderCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/PartsCodeGeneration.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/QueryCodeGeneration.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/ReqBuilderExtensionNode.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSFunctionDeclarationExt.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/RequestConverterTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/FieldArgumentsTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/GetBodyDataTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/GetRequestBuilderTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/HeaderCodeGeneratorKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/PartsArgumentTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlArgumentTextKtTest.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
Labels: ktorfit-ksp, ktorfit-lib

Resolve types that are not in the same modules #594
  docs/CHANGELOG.md
Labels: documentation

Resolve types that are not in the same modules #594
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/FieldCodeGeneration.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/PartsCodeGeneration.kt
Labels: ktorfit-ksp

Resolve types that are not in the same modules #594 (#604)
  .editorconfig
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitError.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ReturnTypeData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ParameterSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/Utils.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributeCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/HeaderCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/QueryCodeGeneration.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/ReqBuilderExtensionNode.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSFunctionDeclarationExt.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/RequestConverterTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/FieldArgumentsTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/GetBodyDataTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/GetRequestBuilderTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/HeaderCodeGeneratorKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/PartsArgumentTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlArgumentTextKtTest.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
Labels: documentation, ktorfit-ksp, ktorfit-lib

Add OptIn annotation
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CommonCompilerPluginRegistrar.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/ExampleCommandLineProcessor.kt
Labels: none

Polish badges
  README.md
  docs/index.md
Labels: documentation

Polish badges (#612)
  README.md
  docs/index.md
Labels: documentation

Update KSP
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
Labels: build

Update changelog
  docs/CHANGELOG.md
Labels: documentation

Update to KSP 1.0.24
  gradle/libs.versions.toml
Labels: none

Update to KSP 1.0.24 (#624)
  gradle/libs.versions.toml
Labels: none

Update to Ktor 2.3.12
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

Update to Ktor 2.3.12
  gradle/libs.versions.toml
Labels: none

Update to Ktor 2.3.12 (#625)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

Set dynamic lib name
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
Labels: build

Fix compile issue with RequestType and multiple parameters
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/RequestConverterText.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/RequestTypeTest.kt
Labels: ktorfit-ksp

Fix compile issue with RequestType and multiple parameters
  docs/CHANGELOG.md
Labels: documentation

Fix compile issue with RequestType and multiple parameters
  docs/CHANGELOG.md
Labels: documentation

Fix compile issue with RequestType and multiple parameters (#627)
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/RequestConverterText.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/RequestTypeTest.kt
Labels: documentation, ktorfit-ksp

Release 2.0.1
  README.md
  docs/CHANGELOG.md
  docs/index.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  mkdocs.yml
Labels: documentation, ktorfit-gradle-plugin

Release 2.0.1
  gradle/libs.versions.toml
Labels: none

Ktor 3.0.0-beta-2
  gradle/libs.versions.toml
Labels: none

Release 2.0.1 (#628)
  README.md
  docs/CHANGELOG.md
  docs/index.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  mkdocs.yml
Labels: documentation, ktorfit-gradle-plugin

Update CHANGELOG.md
  docs/CHANGELOG.md
Labels: documentation

Update Kotlin
  gradle/libs.versions.toml
Labels: none

Update CHANGELOG.md
  docs/CHANGELOG.md
Labels: documentation
