Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Change versioning numbers
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/gradle.properties
  example/AndroidOnlyExample/settings.gradle
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/gradle.properties
  example/MultiplatformExample/person/build.gradle.kts
  example/MultiplatformExample/settings.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: build, documentation, ktorfit-gradle-plugin

Restructure versioning numbers
  example/AndroidOnlyExample/app/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitPluginExtension.kt
  sandbox/build.gradle.kts
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: build, ktorfit-gradle-plugin, sandbox

Restructure versioning numbers
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/gradle.properties
  example/AndroidOnlyExample/settings.gradle
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/gradle.properties
  example/MultiplatformExample/settings.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
Labels: build

Restructure versioning numbers
  sandbox/build.gradle.kts
Labels: build

Restructure versioning numbers
  gradle/libs.versions.toml
Labels: none

Restructure versioning numbers
  gradle/libs.versions.toml
Labels: none

Restructure versioning numbers
  gradle/libs.versions.toml
Labels: none

Restructure versioning numbers (#799)
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/gradle.properties
  example/MultiplatformExample/gradle.properties
  example/MultiplatformExample/person/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitPluginExtension.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: build, documentation, ktorfit-gradle-plugin, sandbox

Release 2.4.0
  .github/workflows/build.yml
  README.md
  RELEASING.md
  docs/CHANGELOG.md
  docs/index.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  mkdocs.yml
Labels: build, documentation

Release 2.4.0
  gradle/libs.versions.toml
Labels: none

Release 2.4.0
  gradle/libs.versions.toml
Labels: none

Release 2.4.0
  .github/workflows/build.yml
  README.md
  RELEASING.md
  docs/CHANGELOG.md
  docs/index.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  mkdocs.yml
Labels: build, documentation

Update example app
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/settings.gradle.kts
  gradle/libs.versions.toml
Labels: build

deploy: 6b834375788999766473292b29b990c5e1426898
  CHANGELOG/index.html
  index.html
  installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Update Gradle Wrapper from 8.12.1 to 8.13
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.jar
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.properties
  example/AndroidOnlyExample/gradlew
Labels: none

Update Gradle Wrapper from 8.12.1 to 8.13
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.jar
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.properties
  example/MultiplatformExample/gradlew
Labels: none

Update Gradle Wrapper from 8.12.1 to 8.13
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: ci

Update example app
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
Labels: build

Update example app (#806)
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
Labels: build

Update Gradle Wrapper from 8.12.1 to 8.13
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.jar
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.properties
  example/AndroidOnlyExample/gradlew
Labels: none

Update Gradle Wrapper from 8.12.1 to 8.13
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.jar
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.properties
  example/MultiplatformExample/gradlew
Labels: none

Update Gradle Wrapper from 8.12.1 to 8.13
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: none

Reverted back to deprecated constructor
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
Labels: ktorfit-lib

Fix cyclic task dependency when using ktorfit gradle plugin
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Added missing import
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
Labels: ktorfit-lib

Reverted back to deprecated constructor (#818)
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
Labels: ktorfit-lib

Fix cyclic task dependency when using ktorfit gradle plugin (#829)
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Release 2.4.1
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  mkdocs.yml
Labels: documentation

Release 2.4.1 (#831)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  mkdocs.yml
Labels: documentation

Bundle proguard rules for Android
  docs/CHANGELOG.md
  docs/android/proguard.md
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib-core/src/jvmMain/resources/META-INF/proguard/ktorfit.pro
Labels: build, documentation, ktorfit-lib

Bundle proguard rules for Android (#834)
  docs/CHANGELOG.md
  docs/android/proguard.md
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib-core/src/jvmMain/resources/META-INF/proguard/ktorfit.pro
Labels: build, documentation, ktorfit-lib

Update Ktor to 3.1.2
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  mkdocs.yml
Labels: documentation

Update Ktor to 3.1.2 (#837)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  mkdocs.yml
Labels: documentation

Release 2.5.0
  docs/CHANGELOG.md
  docs/index.md
  example/AndroidOnlyExample/app/build.gradle.kts
  gradle/libs.versions.toml
  mkdocs.yml
Labels: build, documentation

Release 2.5.0
  example/MultiplatformExample/shared/build.gradle.kts
Labels: build

Release 2.5.0 (#838)
  docs/CHANGELOG.md
  docs/index.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  mkdocs.yml
Labels: build, documentation

Update CHANGELOG.md
  docs/CHANGELOG.md
Labels: documentation

deploy: 302ca948c048d99ab1104634fbd53e04d8283290
  CHANGELOG/index.html
  android/proguard/index.html
  index.html
  installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Point proguard file to an absolute link in doc
  docs/android/proguard.md
Labels: none

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'
