Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Update documentation
  docs/converters/converters.md
  docs/installation.md
  docs/migration.md
  docs/quick-start.md
Labels: documentation

Update documentation
  docs/index.md
Labels: documentation

Update documentation
  docs/converters/responseconverter.md
Labels: none

Move KSP args to Ktorfit configuration
  docs/CHANGELOG.md
  docs/configuration.md
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/settings.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradleConfiguration.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: build, documentation, ktorfit-gradle-plugin

Move KSP args to Ktorfit configuration (#563)
  docs/CHANGELOG.md
  docs/configuration.md
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/settings.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradleConfiguration.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: build, documentation, ktorfit-gradle-plugin

Add min version check
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Add min version check (#564)
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Improve compiler error handling
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/DebugLogger.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/ElementTransformer.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/KtorfitIrGenerationExtension.kt
Labels: none

Improve compiler error handling (#565)
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/DebugLogger.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/ElementTransformer.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/KtorfitIrGenerationExtension.kt
Labels: none

set snapshot
  gradle/libs.versions.toml
Labels: none

add test targets
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Release 2.0.0
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/MainActivity.kt
  example/AndroidOnlyExample/build.gradle
  example/MultiplatformExample/shared/build.gradle.kts
  example/MultiplatformExample/shared/src/commonMain/kotlin/com/example/ktorfittest/Greeting.kt
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  mkdocs.yml
Labels: build, documentation, ktorfit-gradle-plugin

Release 2.0.0
  docs/index.md
Labels: documentation

Release 2.0.0
  docs/index.md
Labels: documentation

Release 2.0.0
  docs/index.md
Labels: documentation

Release 2.0.0 (#566)
  docs/CHANGELOG.md
  docs/index.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/MainActivity.kt
  example/AndroidOnlyExample/build.gradle
  example/MultiplatformExample/shared/build.gradle.kts
  example/MultiplatformExample/shared/src/commonMain/kotlin/com/example/ktorfittest/Greeting.kt
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  mkdocs.yml
Labels: build, documentation, ktorfit-gradle-plugin

deploy: 962e438fe19f49e20762e22fe31d19eb27e5debe
  CHANGELOG/index.html
  configuration/index.html
  converters/converters/index.html
  converters/responseconverter/index.html
  index.html
  installation/index.html
  migration/index.html
  quick-start/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

fix typo
  docs/index.md
Labels: documentation

deploy: da21a14a3d5da09db3f5080b34e54fbb1c5d5942
  index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

Update README.md
  README.md
Labels: none

update example apps
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/settings.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/UserFactory.kt
Labels: build, sandbox

Update README.md
  README.md
Labels: none

Create feature_request.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: none

Rename feature_request.md to feature_request_old.md
  .github/ISSUE_TEMPLATE/feature_request_old.md
Labels: none

Update feature_request.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: none

Update feature_request.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: none

Rename feature_request_old.md to old_feature_request.md
  .github/ISSUE_TEMPLATE/old_feature_request.md
Labels: none

Rename old_feature_request.md to old_request.md
  .github/ISSUE_TEMPLATE/old_request.md
Labels: none

Update old_request.md
  .github/ISSUE_TEMPLATE/old_request.md
Labels: none

Delete .github/ISSUE_TEMPLATE/old_request.md
  .github/ISSUE_TEMPLATE/old_request.md
Labels: none

Rename renovate.json to renovate.json5
  renovate.json5
Labels: none

deploy: c8289509112bd967e92e3ff415799fee28f96759
  sitemap.xml
  sitemap.xml.gz
Labels: none

Websocket (WIP)
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/iosApp/Podfile.lock
  example/MultiplatformExample/iosApp/Pods/Local Podspecs/shared.podspec.json
  example/MultiplatformExample/iosApp/Pods/Manifest.lock
  example/MultiplatformExample/iosApp/Pods/Pods.xcodeproj/project.pbxproj
  example/MultiplatformExample/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.debug.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.release.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/shared/shared.debug.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/shared/shared.release.xcconfig
  example/MultiplatformExample/settings.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  example/MultiplatformExample/shared/shared.podspec
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/BodyAnnotationsTest.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/Converter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/WebSocket.kt
  sandbox/src/commonMain/kotlin/com/example/api/JsonPlaceHolderApi.kt
  sandbox/src/commonMain/kotlin/com/example/api/WebSocket.kt
  sandbox/src/commonMain/kotlin/com/example/api/WebSocketImpl.kt
  sandbox/src/commonMain/kotlin/com/example/model/CommonClient.kt
  sandbox/src/commonTest/kotlin/de/jensklingenberg/ApiTest.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/HeaderTestApi.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/NewFile.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/QueryTestApi.kt
Labels: build, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Websocket (WIP)
  gradle/libs.versions.toml
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/WebSocket.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/annotations/FunctionAnnotation.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/HeaderCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSFunctionDeclarationExt.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/WebSocket.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/QueryTestApi.kt
Labels: build, ktorfit-ksp, ktorfit-lib, sandbox

Websocket (WIP)
  sandbox/src/commonMain/kotlin/com/example/api/WebSocket.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/QueryTestApi.kt
Labels: sandbox

Add workflow to publish converters independent
  .github/workflows/publish-converters.yml
  .github/workflows/publish.yml
Labels: none

Websocket (WIP)
  sandbox/src/commonMain/kotlin/com/example/api/WebSocket.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/QueryTestApi.kt
Labels: sandbox

Websocket (WIP)
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/iosApp/Podfile.lock
  example/MultiplatformExample/iosApp/Pods/Local Podspecs/shared.podspec.json
  example/MultiplatformExample/iosApp/Pods/Manifest.lock
  example/MultiplatformExample/iosApp/Pods/Pods.xcodeproj/project.pbxproj
  example/MultiplatformExample/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.debug.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.release.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/shared/shared.debug.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/shared/shared.release.xcconfig
  example/MultiplatformExample/settings.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  example/MultiplatformExample/shared/shared.podspec
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/BodyAnnotationsTest.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/Converter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/WebSocket.kt
  sandbox/src/commonMain/kotlin/com/example/api/JsonPlaceHolderApi.kt
  sandbox/src/commonMain/kotlin/com/example/api/WebSocket.kt
  sandbox/src/commonMain/kotlin/com/example/api/WebSocketImpl.kt
  sandbox/src/commonMain/kotlin/com/example/model/CommonClient.kt
  sandbox/src/commonTest/kotlin/de/jensklingenberg/ApiTest.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/HeaderTestApi.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/NewFile.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/QueryTestApi.kt
Labels: build, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Websocket (WIP)
  gradle/libs.versions.toml
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/WebSocket.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/annotations/FunctionAnnotation.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/HeaderCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSFunctionDeclarationExt.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/WebSocket.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/QueryTestApi.kt
Labels: build, ktorfit-ksp, ktorfit-lib, sandbox

Move WebSocket to own module
  gradle/libs.versions.toml
  ktorfit-converters/websocket/api/android/call.api
  ktorfit-converters/websocket/api/jvm/call.api
  ktorfit-converters/websocket/build.gradle.kts
  ktorfit-converters/websocket/src/androidMain/AndroidManifest.xml
  ktorfit-converters/websocket/src/commonMain/kotlin/de/jensklingenberg/ktorfit/WebSocket.kt
  ktorfit-converters/websocket/src/commonMain/kotlin/de/jensklingenberg/ktorfit/WebSocketImpl.kt
  ktorfit-converters/websocket/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/MyWebSocketFactory.kt
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/api/WebSocket.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/QueryTestApi.kt
  settings.gradle.kts
Labels: build, sandbox

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'
