Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Improve null handling
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
Labels: ktorfit-lib

Optimize imports
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/Utils.kt
Labels: ktorfit-ksp

Optimize imports (#671)
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/Utils.kt
Labels: ktorfit-ksp

Refactoring
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlCodeGeneration.kt
Labels: ktorfit-ksp

Refactoring
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
Labels: ktorfit-ksp

Refactoring
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec2.kt
Labels: ktorfit-ksp

Refactoring
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributeCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/FieldCodeGeneration.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/TagAnnotationsTest.kt
  sandbox/src/commonMain/kotlin/com/example/api/JsonPlaceHolderApi.kt
Labels: ktorfit-ksp, sandbox

Revert unstable class inheritance change #663
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec2.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/InheritanceTest.kt
Labels: documentation, ktorfit-ksp

Revert unstable class inheritance change #663
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ci

Revert unstable class inheritance change #663 (#672)
  .github/PULL_REQUEST_TEMPLATE.md
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec2.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/InheritanceTest.kt
Labels: ci, documentation, ktorfit-ksp

Revert unstable class inheritance change #663
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
Labels: ktorfit-ksp

Revert unstable class inheritance change #663
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
Labels: ktorfit-ksp

Optimize code
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
Labels: ktorfit-ksp

Optimize code
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ParameterData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec2.kt
Labels: ktorfit-ksp

Optimize code
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/annotations/FunctionAnnotation.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/annotations/HttpMethodAnnotation.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/FieldCodeGeneration.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/HeaderCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/PartsCodeGeneration.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/QueryCodeGeneration.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSFunctionDeclarationExt.kt
Labels: ktorfit-ksp

Optimize code
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/PartsCodeGeneration.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/QueryCodeGeneration.kt
Labels: ktorfit-ksp

Replace commonMain with SourceSet constant
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Add NoDelegation annotation
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/NoDelegation.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec2.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/InheritanceTest.kt
Labels: ktorfit-ksp

Add NoDelegation annotation
  docs/generation.md
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/InheritanceTest.kt
Labels: documentation, ktorfit-ksp

Add NoDelegation annotation #663
  docs/CHANGELOG.md
  docs/generation.md
Labels: documentation

Add NoDelegation annotation #663
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Add NoDelegation annotation #663
  ktorfit-annotations/api/android/ktorfit-annotations.api
  ktorfit-annotations/api/jvm/ktorfit-annotations.api
Labels: none

Add NoDelegation annotation #663 (#673)
  docs/CHANGELOG.md
  docs/generation.md
  ktorfit-annotations/api/android/ktorfit-annotations.api
  ktorfit-annotations/api/jvm/ktorfit-annotations.api
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/NoDelegation.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec2.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/InheritanceTest.kt
Labels: documentation, ktorfit-gradle-plugin, ktorfit-ksp

Move NoDelegation annotation
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/core/NoDelegation.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/InheritanceTest.kt
Labels: ktorfit-ksp

Move NoDelegation annotation
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/core/NoDelegation.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/InheritanceTest.kt
Labels: ktorfit-ksp

Update to Kotlin 2.1.0-Beta1
  example/AndroidOnlyExample/app/build.gradle.kts
  gradle/libs.versions.toml
Labels: build

Update Api files
  ktorfit-annotations/api/android/ktorfit-annotations.api
  ktorfit-annotations/api/jvm/ktorfit-annotations.api
Labels: none

Update CHANGELOG.md
  docs/CHANGELOG.md
Labels: documentation

Update CHANGELOG.md (#679)
  docs/CHANGELOG.md
Labels: documentation

deploy: 53b18ef05789d982d7f5797abb3bdd99526629e3
  CHANGELOG/index.html
  generation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Downgrade APG for use in IntelliJ
  gradle/libs.versions.toml
Labels: none

Update libs.versions.toml
  gradle/libs.versions.toml
Labels: none

Update CHANGELOG.md
  docs/CHANGELOG.md
Labels: documentation

Check Gradle version
  .github/workflows/update-gradle-wrapper.yml
Labels: none

Check Gradle version
  .github/workflows/update-gradle-wrapper.yml
Labels: none

Update Gradle Wrapper from 8.10 to 8.10.2
  example/AndroidOnlyExample/gradle/wrapper/gradle-wrapper.properties
Labels: none

Update Gradle Wrapper from 8.10 to 8.10.2
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.properties
Labels: none

Update Gradle Wrapper from 8.10 to 8.10.2
  gradle/wrapper/gradle-wrapper.properties
Labels: none

Kotlin 2.0.21
  gradle/libs.versions.toml
Labels: none

Kotlin 2.0.21
  docs/CHANGELOG.md
Labels: documentation

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'
