Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Update to Kotlin 2.0.0-RC1 (#535)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

Release 1.14.0
  docs/CHANGELOG.md
  docs/index.md
  gradle/libs.versions.toml
  mkdocs.yml
Labels: documentation

Release 1.14.0
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradleConfiguration.kt
Labels: build, documentation, ktorfit-gradle-plugin

Release 1.14.0 (#536)
  docs/CHANGELOG.md
  docs/index.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradleConfiguration.kt
  mkdocs.yml
Labels: build, documentation, ktorfit-gradle-plugin

deploy: 34bb973b1b6979e7f3b639e8e4e2304586b0f9a4
  CHANGELOG/index.html
  index.html
  installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Set Snapshot version
  gradle/libs.versions.toml
Labels: none

Set Snapshot version
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
Labels: ktorfit-ksp, ktorfit-lib

Set Snapshot version
  gradle/libs.versions.toml
  ktorfit-lib-core/build.gradle.kts
Labels: build

Set Snapshot version
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
Labels: build

Set Snapshot version
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
Labels: build

Set Snapshot version
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
Labels: build

Set Snapshot version
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
Labels: build

Set Snapshot version
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/settings.gradle
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/KtorfitTest.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/TestStringToIntRequestConverter.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/converter/RequestParameterConverterTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/converter/ConverterFactoryTest.kt
Labels: build, ktorfit-lib

Set Snapshot version
  docs/migration.md
  ktorfit-converters/response/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/ResponseClassSuspendConverter.kt
  ktorfit-converters/response/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/ResponseConverterFactory.kt
Labels: documentation

Set Snapshot version
  docs/CHANGELOG.md
  docs/converters/converters.md
  docs/migration.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/MainActivity.kt
Labels: build, documentation

Set Snapshot version
  ktorfit-annotations/build.gradle.kts
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradleConfiguration.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  sandbox/src/commonMain/kotlin/com/example/UserFactory.kt
Labels: build, ktorfit-gradle-plugin, sandbox

Set Snapshot version
  docs/converters/converters.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/RequestConverterText.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/typeData/ReturnTypeInfo.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/RequestConverterTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/ReturnTypeInfoKtTest.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
Labels: ktorfit-ksp, ktorfit-lib

Set Snapshot version
  gradle/libs.versions.toml
Labels: none

Set Snapshot version
  gradle/libs.versions.toml
  ktorfit-annotations/build.gradle.kts
Labels: build

Set Snapshot version
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
Labels: ktorfit-gradle-plugin

Set Snapshot version
  ktorfit-converters/call/api/android/call.api
  ktorfit-converters/call/api/jvm/call.api
  ktorfit-converters/flow/api/android/flow.api
  ktorfit-converters/flow/api/jvm/flow.api
  ktorfit-converters/response/api/android/call.api
  ktorfit-converters/response/api/jvm/call.api
  ktorfit-lib-core/api/android/ktorfit-lib-core.api
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
Labels: none

Set Snapshot version
  ktorfit-converters/response/api/android/response.api
  ktorfit-converters/response/api/jvm/response.api
Labels: none

Set Snapshot version
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/StreamingAnnotationTest.kt
Labels: ktorfit-ksp

Set Snapshot version
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/KtorfitTest.kt
Labels: ktorfit-lib

Code clean up
  ktorfit-annotations/build.gradle.kts
  ktorfit-converters/call/api/android/call.api
  ktorfit-converters/call/api/jvm/call.api
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/call/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/CallConverterFactory.kt
  ktorfit-converters/call/src/jvmTest/kotlin/ConverterTest.kt
  ktorfit-converters/flow/api/android/flow.api
  ktorfit-converters/flow/api/jvm/flow.api
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/flow/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/FlowConverterFactory.kt
  ktorfit-converters/response/build.gradle.kts
  ktorfit-lib-core/api/android/ktorfit-lib-core.api
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/Converter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/internal/TypeDataTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/converter/ConverterTest.kt
  sandbox/src/commonMain/kotlin/com/example/model/CommonClient.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: build, ktorfit-lib, sandbox

Code clean up (#540)
  ktorfit-annotations/build.gradle.kts
  ktorfit-converters/call/api/android/call.api
  ktorfit-converters/call/api/jvm/call.api
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/call/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/CallConverterFactory.kt
  ktorfit-converters/call/src/jvmTest/kotlin/ConverterTest.kt
  ktorfit-converters/flow/api/android/flow.api
  ktorfit-converters/flow/api/jvm/flow.api
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/flow/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/FlowConverterFactory.kt
  ktorfit-converters/response/build.gradle.kts
  ktorfit-lib-core/api/android/ktorfit-lib-core.api
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/Converter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/internal/TypeDataTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/converter/ConverterTest.kt
  sandbox/src/commonMain/kotlin/com/example/model/CommonClient.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: build, ktorfit-lib, sandbox

Code clean up
  README.md
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-converters/response/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/ResponseClassSuspendConverter.kt
  ktorfit-converters/response/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/ResponseConverterFactory.kt
Labels: build

Code clean up
  build.gradle.kts
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/Converter.kt
Labels: build, ktorfit-lib

Code clean up
  ktorfit-converters/response/api/android/response.api
  ktorfit-converters/response/api/jvm/response.api
Labels: none

Optimize generated code
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/StreamingAnnotationTest.kt
Labels: ktorfit-ksp

Optimize generated code (#541)
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/StreamingAnnotationTest.kt
Labels: ktorfit-ksp

Make code generation for qualifiedTypeName configurable
  docs/CHANGELOG.md
  docs/configuration.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitOptions.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitProcessor.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/KtorfitOptionsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/Utils.kt
  ktorfit-lib-core/build.gradle.kts
  sandbox/build.gradle.kts
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/TestApi2.kt
Labels: build, documentation, ktorfit-ksp, sandbox

Make code generation for qualifiedTypeName configurable
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/KtorfitOptionsTest.kt
Labels: ktorfit-ksp

Make code generation for qualifiedTypeName configurable
  ktorfit-lib-core/build.gradle.kts
Labels: build

Make code generation for qualifiedTypeName configurable
  ktorfit-lib-core/build.gradle.kts
Labels: build

Make code generation for qualifiedTypeName configurable (#542)
  docs/CHANGELOG.md
  docs/configuration.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitOptions.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitProcessor.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/KtorfitOptionsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/Utils.kt
  ktorfit-lib-core/build.gradle.kts
  sandbox/build.gradle.kts
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/TestApi2.kt
Labels: build, documentation, ktorfit-ksp, sandbox

Release 2.0.0-beta1
  README.md
  docs/CHANGELOG.md
  docs/index.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/MainActivity.kt
  example/MultiplatformExample/shared/build.gradle.kts
  example/MultiplatformExample/shared/src/commonMain/kotlin/com/example/ktorfittest/Greeting.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  mkdocs.yml
Labels: build, documentation, ktorfit-gradle-plugin

Release 2.0.0-beta1
  gradle/libs.versions.toml
Labels: none

Release 2.0.0-beta1 (#543)
  README.md
  docs/CHANGELOG.md
  docs/index.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/MainActivity.kt
  example/MultiplatformExample/shared/build.gradle.kts
  example/MultiplatformExample/shared/src/commonMain/kotlin/com/example/ktorfittest/Greeting.kt
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  mkdocs.yml
Labels: build, documentation, ktorfit-gradle-plugin

deploy: 8e51a1d36ea5c812f278a74873b5763a3aeca81e
  CHANGELOG/index.html
  configuration/index.html
  converters/converters/index.html
  index.html
  installation/index.html
  migration/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'
