Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'

Update Samples (#969)
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/build.gradle
  example/AndroidOnlyExample/build.gradle.kts
  example/AndroidOnlyExample/gradle/libs.versions.toml
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/person/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
Labels: build

deploy: bd096d0dc2eef97b73c9ed3d63828318384e6951
  CHANGELOG/index.html
  installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Modify Dependabot schedule for Gradle updates
  .github/dependabot.yml
Labels: ci

Support Kotlin 2.3.0
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  kotlin-js-store/yarn.lock
  ktorfit-compiler-plugin/api/ktorfit-compiler-plugin.api
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CommonCompilerPluginRegistrar.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/ExampleCommandLineProcessor.kt
  ktorfit-gradle-plugin/api/ktorfit-gradle-plugin.api
Labels: documentation

Update Gradle to 9.2.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: none

Support Kotlin 2.3.0 (#943)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  kotlin-js-store/yarn.lock
  ktorfit-compiler-plugin/api/ktorfit-compiler-plugin.api
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CommonCompilerPluginRegistrar.kt
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/ExampleCommandLineProcessor.kt
  ktorfit-gradle-plugin/api/ktorfit-gradle-plugin.api
Labels: documentation

Deprecate kotlinVersion property in favor of compilerPluginVersion
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitPluginExtension.kt
Labels: documentation, ktorfit-gradle-plugin

Deprecate kotlinVersion property in favor of compilerPluginVersion
  ktorfit-gradle-plugin/api/ktorfit-gradle-plugin.api
Labels: none

Deprecate kotlinVersion property in favor of compilerPluginVersion
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitPluginExtension.kt
Labels: ktorfit-gradle-plugin

Deprecate kotlinVersion property in favor of compilerPluginVersion (#974)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/api/ktorfit-gradle-plugin.api
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitPluginExtension.kt
Labels: documentation, ktorfit-gradle-plugin

Enhance code generation
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec2.kt
Labels: ktorfit-ksp

Refactor code generation
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlCodeGeneration.kt
Labels: ktorfit-ksp

Refactor code generation
  ktorfit-ksp/api/ktorfit-ksp.api
Labels: none

Refactor code generation
  docs/architecture.md
  ktorfit-compiler-plugin/Readme.md
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/InheritanceTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/OptInTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/QueryAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/UrlTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlArgumentTextKtTest.kt
Labels: documentation, ktorfit-ksp

Refactor code generation
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/InheritanceTest.kt
Labels: ktorfit-ksp

Refactor code generation (#975)
  docs/architecture.md
  ktorfit-compiler-plugin/Readme.md
  ktorfit-ksp/api/ktorfit-ksp.api
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlCodeGeneration.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/InheritanceTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/OptInTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/QueryAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/UrlTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlArgumentTextKtTest.kt
Labels: documentation, ktorfit-ksp

Simplify code generation
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/KtorfitOptionsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/StreamingAnnotationTest.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
Labels: ktorfit-ksp, ktorfit-lib

Simplify code generation
  ktorfit-lib-core/api/android/ktorfit-lib-core.api
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
  ktorfit-lib-core/api/ktorfit-lib-core.klib.api
Labels: none

Simplify code generation
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/StreamingAnnotationTest.kt
Labels: ktorfit-ksp

Simplify code generation
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/StreamingAnnotationTest.kt
Labels: ktorfit-ksp

Simplify code generation
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/StreamingAnnotationTest.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
Labels: ktorfit-ksp, ktorfit-lib

Simplify code generation
  .github/workflows/build.yml
Labels: none

test if this compiles
  ktorfit-converters/call/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/CallConverterFactory.kt
  ktorfit-converters/call/src/jvmTest/kotlin/ConverterDefaultResponseConverter.kt
  ktorfit-converters/flow/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/FlowConverterFactory.kt
  ktorfit-converters/response/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/ResponseClassSuspendConverter.kt
  ktorfit-converters/response/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/ResponseConverterFactory.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/Converter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData2.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/DefaultSuspendResponseConverterFactory.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/DontSwallowExceptionsConverterFactory.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/KtorfitTest.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/internal/TypeDataTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/converter/ConverterFactoryTest.kt
  sandbox/src/commonMain/kotlin/com/example/UserFactory.kt
  sandbox/src/commonMain/kotlin/com/example/model/MyOwnResponseConverterFactory.kt
Labels: ktorfit-lib, sandbox

Simplify code generation
  .github/workflows/build.yml
  ktorfit-converters/call/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/CallConverterFactory.kt
  ktorfit-converters/call/src/jvmTest/kotlin/ConverterDefaultResponseConverter.kt
  ktorfit-converters/flow/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/FlowConverterFactory.kt
  ktorfit-converters/response/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/ResponseClassSuspendConverter.kt
  ktorfit-converters/response/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/ResponseConverterFactory.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/Converter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/DefaultSuspendResponseConverterFactory.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/DontSwallowExceptionsConverterFactory.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/KtorfitTest.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/internal/TypeDataTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/converter/ConverterFactoryTest.kt
  sandbox/src/commonMain/kotlin/com/example/UserFactory.kt
  sandbox/src/commonMain/kotlin/com/example/model/MyOwnResponseConverterFactory.kt
Labels: ktorfit-lib, sandbox

Simplify code generation
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
Labels: ktorfit-lib

Simplify code generation
  ktorfit-ksp/api/ktorfit-ksp.api
Labels: none

Simplify code generation
  .github/workflows/build.yml
  build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  sandbox/build.gradle.kts
  settings.gradle.kts
Labels: build, ktorfit-gradle-plugin

Simplify code generation (#983)
  .github/workflows/build.yml
  build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/api/ktorfit-ksp.api
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/KtorfitOptionsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/StreamingAnnotationTest.kt
  ktorfit-lib-core/api/android/ktorfit-lib-core.api
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
  ktorfit-lib-core/api/ktorfit-lib-core.klib.api
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  sandbox/build.gradle.kts
  settings.gradle.kts
Labels: build, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib

Add AttributeKey import only when used
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributesCodeGenerator.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/MethodAnnotationsTest.kt
Labels: ktorfit-ksp

Add AttributeKey import only when used
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributesCodeGenerator.kt
Labels: ktorfit-ksp

Add AttributeKey import only when used (#984)
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributesCodeGenerator.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/MethodAnnotationsTest.kt
Labels: ktorfit-ksp

Remove obsolete import
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
Labels: ktorfit-ksp

Remove obsolete import (#985)
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
Labels: ktorfit-ksp

Refactor KtorfitError to use object instead of companion object for error constants
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitError.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HeaderMapAnnotationsTest.kt
Labels: ktorfit-ksp

Refactor KtorfitError to use object instead of companion object for error constants
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitError.kt
Labels: ktorfit-ksp

Refactor KtorfitError to use object instead of companion object for error constants (#986)
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitError.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HeaderMapAnnotationsTest.kt
Labels: ktorfit-ksp

Refactor URL generation code for improved clarity and consistency
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlCodeGeneration.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/QueryAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/UrlTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlArgumentTextKtTest.kt
Labels: ktorfit-ksp

Add HttpClient parameter to generated service implementations
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/InheritanceTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/OptInTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/StreamingAnnotationTest.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitClientTest.kt
Labels: ktorfit-ksp, ktorfit-lib

Add HttpClient parameter to generated service implementations
  ktorfit-lib-core/api/android/ktorfit-lib-core.api
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
  ktorfit-lib-core/api/ktorfit-lib-core.klib.api
Labels: none

Add HttpClient parameter to generated service implementations (#988)
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FileSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/FunctionSpec.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/poetspec/ImplClassSpec.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/InheritanceTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/OptInTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/StreamingAnnotationTest.kt
  ktorfit-lib-core/api/android/ktorfit-lib-core.api
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
  ktorfit-lib-core/api/ktorfit-lib-core.klib.api
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitClientTest.kt
Labels: ktorfit-ksp, ktorfit-lib
