Repository Foso/Ktorfit, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, compiler-plugin, documentation, ktorfit-gradle-plugin, ktorfit-ksp, ktorfit-lib, sandbox

Add multi module example
  example/MultiplatformExample/person/build.gradle.kts
  example/MultiplatformExample/person/src/androidMain/AndroidManifest.xml
Labels: build

Try to reproduce bug
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/MainActivity.kt
  example/AndroidOnlyExample/build.gradle
Labels: build

Move null check to default converter
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/DefaultSuspendResponseConverterFactory.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
Labels: ktorfit-lib

Move null check to default converter
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
Labels: ktorfit-lib

Move null check to default converter (#648)
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/DefaultSuspendResponseConverterFactory.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
Labels: ktorfit-lib

Reformat
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/Converter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/KtorfitResult.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
Labels: ktorfit-lib

Reformat
  sandbox/src/commonMain/kotlin/com/example/UserFactory.kt
  sandbox/src/commonMain/kotlin/com/example/api/GithubService.kt
  sandbox/src/commonMain/kotlin/com/example/api/JsonPlaceHolderApi.kt
  sandbox/src/commonMain/kotlin/com/example/api/KtorSamplesApi.kt
  sandbox/src/commonMain/kotlin/com/example/api/Response.kt
  sandbox/src/commonMain/kotlin/com/example/api/StarWarsApi.kt
  sandbox/src/commonMain/kotlin/com/example/model/CommonClient.kt
  sandbox/src/commonMain/kotlin/com/example/model/Envelope.kt
  sandbox/src/commonMain/kotlin/com/example/model/MyOwnResponse.kt
  sandbox/src/commonMain/kotlin/com/example/model/MyOwnResponseConverter.kt
  sandbox/src/commonMain/kotlin/com/example/model/People.kt
  sandbox/src/commonMain/kotlin/com/example/model/Post.kt
  sandbox/src/commonMain/kotlin/com/example/model/Specie.kt
  sandbox/src/commonMain/kotlin/com/example/model/StringToIntRequestConverter.kt
  sandbox/src/commonMain/kotlin/com/example/model/github/GithubFollowerResponse.kt
  sandbox/src/commonMain/kotlin/com/example/model/github/Issuedata.kt
  sandbox/src/commonMain/kotlin/com/example/model/github/TestReee.kt
  sandbox/src/jsMain/kotlin/JsMain.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/CreateIssue.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/HeaderTestApi.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvmPlaceHolderApi.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/QueryTestApi.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/TestApi.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/TestApi2.kt
  sandbox/src/linuxX64Main/kotlin/LinuxMain.kt
Labels: sandbox

Reformat
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/model/MyOwnResponseConverterFactory.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/QueryTestApi.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/TestApi.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/TestApi2.kt
Labels: build, sandbox

Reformat
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitLogger.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitOptions.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitProcessor.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/annotations/FunctionAnnotation.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributeCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/BodyCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/CustomRequestBuilderCodeGeneration.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlCodeGeneration.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSValueParameterExt.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/Utils.kt
Labels: ktorfit-ksp

Add proguard documentation #382
  docs/android/proguard.md
  docs/index.md
  mkdocs.yml
Labels: documentation

Add proguard documentation #382 (#650)
  docs/android/proguard.md
  docs/index.md
  mkdocs.yml
Labels: documentation

deploy: e888e5830f9b0c59585dc1478cfb0c9521bd358e
  404.html
  CHANGELOG/index.html
  License/index.html
  android/proguard/index.html
  architecture/index.html
  configuration/index.html
  converters/converters/index.html
  converters/example1/index.html
  converters/migration/index.html
  converters/requestparameterconverter/index.html
  converters/responseconverter/index.html
  converters/suspendresponseconverter/index.html
  development/index.html
  fundamentals/scope/index.html
  index.html
  installation/index.html
  migration/index.html
  quick-start/index.html
  requests/index.html
  responseconverter/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  suspendresponseconverter/index.html
Labels: none

Reformat
  build.gradle.kts
  ktorfit-annotations/src/androidMain/AndroidManifest.xml
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/DELETE.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/Field.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/FieldMap.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/GET.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/HEAD.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/HTTP.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/Header.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/Headers.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/OPTIONS.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/PATCH.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/POST.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/PUT.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/Part.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/PartMap.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/Path.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/Query.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/QueryMap.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/QueryName.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/RequestType.kt
  ktorfit-annotations/src/commonMain/kotlin/de/jensklingenberg/ktorfit/http/Tag.kt
Labels: build

Allow Body with Http Delete #647
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitError.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/BodyAnnotationsTest.kt
Labels: documentation, ktorfit-ksp

Allow Body with Http Delete #647 (#651)
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitError.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/BodyAnnotationsTest.kt
Labels: documentation, ktorfit-ksp

Move null check to DefaultSuspendResponseConverterFactory
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/DefaultSuspendResponseConverterFactory.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
Labels: ktorfit-lib

Move null check to DefaultSuspendResponseConverterFactory
  ktorfit-converters/call/src/jvmTest/kotlin/ConverterDefaultResponseConverter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/DefaultSuspendResponseConverterFactory.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/KtorfitTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/BuilderDefaultResponseConverter.kt
Labels: ktorfit-lib

Move null check to DefaultSuspendResponseConverterFactory (#652)
  ktorfit-converters/call/src/jvmTest/kotlin/ConverterDefaultResponseConverter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/DefaultSuspendResponseConverterFactory.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitConverterHelper.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/KtorfitTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/BuilderDefaultResponseConverter.kt
Labels: ktorfit-lib

Update CHANGELOG.md
  docs/CHANGELOG.md
Labels: documentation

update binaryCompatibilityValidator
  gradle/libs.versions.toml
Labels: none

update binaryCompatibilityValidator (#653)
  gradle/libs.versions.toml
Labels: none

update to JDK 21
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build.yml
  .github/workflows/publish-converters.yml
  .github/workflows/publish.yml
Labels: ci

Update to JDK 21 (#654)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build.yml
  .github/workflows/publish-converters.yml
  .github/workflows/publish.yml
Labels: ci

Add check if "test" target exist #638
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Add check if "test" target exist #638
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Fix example project
  example/MultiplatformExample/androidApp/build.gradle.kts
  example/MultiplatformExample/person/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
Labels: build

Fix example project
  example/MultiplatformExample/person/build.gradle.kts
Labels: build

Add check if "test" target exist #638
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Fix compilation for single target KMP projects #593
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/build.gradle
  example/AndroidOnlyExample/settings.gradle
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/settings.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  example/MultiplatformExample/shared/src/androidMain/kotlin/com/example/ktorfittest/Test.kt
  example/MultiplatformExample/shared/src/commonMain/kotlin/com/example/ktorfittest/Greeting.kt
  example/MultiplatformExample/shared/src/jvmMain/kotlin/JvmExampleClass.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitOptions.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
Labels: build, ktorfit-gradle-plugin, ktorfit-ksp

Fix compilation for single target KMP projects #593
  docs/CHANGELOG.md
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitOptions.kt
Labels: documentation, ktorfit-gradle-plugin, ktorfit-ksp

Fix compilation for single target KMP projects #593
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/settings.gradle
  example/MultiplatformExample/iosApp/Podfile.lock
  example/MultiplatformExample/iosApp/Pods/Local Podspecs/shared.podspec.json
  example/MultiplatformExample/iosApp/Pods/Manifest.lock
  example/MultiplatformExample/iosApp/Pods/Pods.xcodeproj/project.pbxproj
  example/MultiplatformExample/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.debug.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.release.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/shared/shared.debug.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/shared/shared.release.xcconfig
Labels: build

Fix compilation for single target KMP projects #593
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/iosApp/Podfile.lock
  example/MultiplatformExample/iosApp/Pods/Local Podspecs/shared.podspec.json
  example/MultiplatformExample/iosApp/Pods/Manifest.lock
  example/MultiplatformExample/iosApp/Pods/Pods.xcodeproj/project.pbxproj
  example/MultiplatformExample/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.debug.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.release.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/shared/shared.debug.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/shared/shared.release.xcconfig
  example/MultiplatformExample/lib/.gitignore
  example/MultiplatformExample/lib/build.gradle.kts
  example/MultiplatformExample/lib/src/androidMain/AndroidManifest.xml
  example/MultiplatformExample/lib/src/commonMain/kotlin/com/example/lib/MyClass.kt
  example/MultiplatformExample/settings.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
Labels: build

Fix compilation for single target KMP projects #593
  example/MultiplatformExample/iosApp/Pods/Local Podspecs/shared.podspec.json
  example/MultiplatformExample/iosApp/Pods/Manifest.lock
  example/MultiplatformExample/iosApp/Pods/Pods.xcodeproj/project.pbxproj
  example/MultiplatformExample/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.debug.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.release.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/shared/shared.debug.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/shared/shared.release.xcconfig
Labels: none

Fix compilation for single target KMP projects #593
  example/MultiplatformExample/person/src/commonMain/kotlin/com/example/ktorfittest/Person.kt
  example/MultiplatformExample/shared/src/commonMain/kotlin/com/example/ktorfittest/StarWarsApi.kt
Labels: none

Fix compilation for single target KMP projects #593
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Fix compilation for single target KMP projects #593
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Test.kt
Labels: ktorfit-lib

Fix compilation for single target KMP projects #593 (#657)
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/build.gradle
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/iosApp/Podfile.lock
  example/MultiplatformExample/person/src/commonMain/kotlin/com/example/ktorfittest/Person.kt
  example/MultiplatformExample/shared/shared.podspec
  example/MultiplatformExample/shared/src/androidMain/kotlin/com/example/ktorfittest/Test.kt
  example/MultiplatformExample/shared/src/commonMain/kotlin/com/example/ktorfittest/Greeting.kt
  example/MultiplatformExample/shared/src/commonMain/kotlin/com/example/ktorfittest/StarWarsApi.kt
  example/MultiplatformExample/shared/src/jvmMain/kotlin/JvmExampleClass.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitOptions.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
Labels: build, documentation, ktorfit-gradle-plugin, ktorfit-ksp

Fix argument type
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

Update documentation
  docs/CHANGELOG.md
  docs/architecture.md
  docs/configuration.md
  docs/knownissues.md
  example/MultiplatformExample/settings.gradle.kts
  mkdocs.yml
Labels: build, documentation

Update documentation
  docs/CHANGELOG.md
Labels: documentation

.github/labeler.yml:

build:
- changed-files:
  - any-glob-to-any-file: '**/*.gradle'
  - any-glob-to-any-file: '**/*.gradle.kts'

ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  
compiler-plugin:
- changed-files:
  - any-glob-to-any-file: 'compiler-plugin/src/**/*'
  
documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/*.md'

ktorfit-gradle-plugin:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-gradle-plugin/src/**/*'
  
ktorfit-ksp:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-ksp/src/**/*'

ktorfit-lib:
- changed-files:
  - any-glob-to-any-file: 'ktorfit-lib/src/**/*'
  - any-glob-to-any-file: 'ktorfit-lib-core/src/**/*'

sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/src/**/*'
