Repository Foso/Ktorfit, pull requests merged in 2023-03, with the labels that each got.

#173 Move to version catalog
  build.gradle.kts
  compiler-plugin/build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  ktorfit-annotations/build.gradle.kts
  ktorfit-ksp/build.gradle.kts
  ktorfit-lib/build.gradle.kts
  sandbox/build.gradle.kts
  settings.gradle.kts
Labels: build

#180 Release version 1.0.0
  compiler-plugin/build.gradle.kts
  docs/CHANGELOG.md
  docs/configuration.md
  docs/installation.md
  docs/requests.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/MainActivity.kt
  example/AndroidOnlyExample/build.gradle
  example/MultiplatformExample/androidApp/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradleSubPlugin.kt
  gradle/libs.versions.toml
  ktorfit-annotations/build.gradle.kts
  ktorfit-ksp/build.gradle.kts
  ktorfit-lib/build.gradle.kts
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitClient.kt
  sandbox/build.gradle.kts
Labels: documentation, build, ktorfit-lib, gradle-plugin

#181 Update CHANGELOG.md
  docs/CHANGELOG.md
Labels: documentation

#182 Add Licensee
  .github/workflows/build.yml
  compiler-plugin/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-annotations/build.gradle.kts
  ktorfit-ksp/build.gradle.kts
  sandbox/build.gradle.kts
Labels: build

#183 (docs) add scope/license
  docs/License.md
  docs/architecture.md
  docs/fundamentals/scope.md
  docs/installation.md
  docs/quick-start.md
  mkdocs.yml
Labels: documentation

#203 Sealed class inheritance fix, suspend fix
  docs/responseconverter.md
Labels: documentation

#204 202 bug post request body serialization doesnt work
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/GetBodyDataText.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/BodyAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/requestData/GetBodyDataTextKtTest.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/DefaultKtorfitService.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitClient.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/RequestData.kt
  ktorfit-lib/src/jvmTest/kotlin/BodyTest.kt
  sandbox/src/commonMain/kotlin/com/example/api/GithubService.kt
Labels: documentation, ktorfit-ksp, ktorfit-lib, sandbox

#209 Release/v1.0.1
  compiler-plugin/build.gradle.kts
  ktorfit-annotations/build.gradle.kts
  ktorfit-ksp/build.gradle.kts
  ktorfit-lib/build.gradle.kts
Labels: documentation, build
