Repository Foso/Ktorfit, pull requests merged in 2023-02, with the labels that each got.

#115 Test PR labeler
  docs/CHANGELOG.md
Labels: documentation

#117 Update labeler.yml
  .github/labeler.yml
Labels: ci

#118 Refactoring
  ktorfit-ksp/src/main/kotlin/KtorfitProcessor.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/TypeData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/annotations/ParameterAnnotation.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSValueParameterExt.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
Labels: ktorfit-ksp

#119 (deps) update Ktor to 2.2.3
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  sandbox/build.gradle.kts
Labels: documentation, build

#120 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ci

#121 Release/beta18
  docs/installation.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle.properties
Labels: documentation, build

#123 Add explicit api mode to Ktorfit-lib
  ktorfit-lib/build.gradle.kts
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Call.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Callback.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/TypeInfoExt.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/SuspendResponseConverter.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/CallResponseConverter.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/builtin/FlowResponseConverter.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/request/CoreResponseConverter.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/request/RequestConverter.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/request/ResponseConverter.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/HeaderData.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitClient.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitService.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/QueryData.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/RequestData.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/TypeData.kt
Labels: build, ktorfit-lib

#128 Foso/set clientas default function
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/GetPathsText.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/RequestConverterText.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/FormUrlEncodedAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/PathAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/StreamingAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/UrlTest.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/DefaultKtorfitService.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitService.kt
Labels: ktorfit-ksp, ktorfit-lib

#129 Remove Field type
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/FieldArgumentsText.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/FieldAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/FormUrlEncodedAnnotationsTest.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitClient.kt
  ktorfit-lib/src/jvmTest/kotlin/FieldTest.kt
Labels: ktorfit-ksp, ktorfit-lib

#130 Refactor client
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/KtorfitClass.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/HeadersArgumentText.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/RequestDataArgumentNode.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/RequestTypeInfo.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/ReturnTypeInfo.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/FormUrlEncodedAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/PathAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/StreamingAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/UrlTest.kt
  ktorfit-lib/api/android/ktorfit-lib.api
  ktorfit-lib/api/jvm/ktorfit-lib.api
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/Client.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/DH.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/DefaultKtorfitService.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitClient.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitService.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/RequestData.kt
  ktorfit-lib/src/jvmTest/kotlin/BodyTest.kt
  ktorfit-lib/src/jvmTest/kotlin/BuilderTest.kt
  ktorfit-lib/src/jvmTest/kotlin/ClientTest.kt
  ktorfit-lib/src/jvmTest/kotlin/ConverterTest.kt
  ktorfit-lib/src/jvmTest/kotlin/FieldTest.kt
  ktorfit-lib/src/jvmTest/kotlin/HeaderTest.kt
  ktorfit-lib/src/jvmTest/kotlin/PartsTest.kt
  ktorfit-lib/src/jvmTest/kotlin/QueryTest.kt
Labels: ktorfit-ksp, ktorfit-lib

#131 Refactor RequestType
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ParameterData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/annotations/ParameterAnnotation.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/RequestConverterText.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSValueParameterExt.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/RequestTypeTest.kt
Labels: ktorfit-ksp

#132 Foso/refactor request converters
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/GetPathsText.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/RequestConverterText.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/FormUrlEncodedAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/PathAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/RequestTypeTest.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/request/RequestConverter.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/Client.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitClient.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitService.kt
  ktorfit-lib/src/jvmTest/kotlin/ConverterTest.kt
  ktorfit-lib/src/jvmTest/kotlin/RequestConverterTest.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: documentation, ktorfit-ksp, ktorfit-lib, sandbox

#139 Add Tests
  build.gradle.kts
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ParameterData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ReturnTypeData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/annotations/ParameterAnnotation.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/FieldArgumentsText.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/GetRequestBuilderText.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/HeadersArgumentText.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/RequestDataArgumentNode.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/RequestTypeInfo.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/ReturnTypeInfo.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/FormUrlEncodedAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/requestData/FieldArgumentsTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/requestData/GetBodyDataTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/requestData/GetPathsTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/requestData/GetRequestBuilderTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/requestData/HeadersArgumentTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/requestData/PartsArgumentTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/requestData/QueryArgumentsTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/requestData/RelativeUrlArgumentTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/requestData/RequestTypeInfoKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/requestData/ReturnTypeInfoKtTest.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitClient.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/TypeData.kt
Labels: ktorfit-ksp, build, ktorfit-lib

#140 Fix broken/outdated docs link
  README.md
Labels: documentation

#141 Add Tests
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/requestData/QueryArgumentsTextKtTest.kt
  ktorfit-lib/src/jvmTest/kotlin/QueryTest.kt
Labels: ktorfit-ksp, ktorfit-lib

#142 Combine QueryName and QueryMap/Query handling in KtorfitClient
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/HeadersArgumentText.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/QueryArgumentText.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/RequestConverterText.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/ReturnTypeInfo.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/Utils.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/QueryAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/requestData/HeadersArgumentTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/requestData/QueryArgumentsTextKtTest.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/DH.kt
  ktorfit-lib/src/commonMain/kotlin/de/jensklingenberg/ktorfit/internal/KtorfitClient.kt
  ktorfit-lib/src/jvmTest/kotlin/QueryTest.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvmPlaceHolderApi.kt
Labels: ktorfit-ksp, ktorfit-lib, sandbox

#143 Throw compile error when interface implementation not found
  compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  compiler-plugin/src/test/kotlin/de/jensklingenberg/FunctionTransformerTest.kt
  docs/CHANGELOG.md
  gradle.properties
  sandbox/build.gradle.kts
Labels: documentation, compiler-plugin, build

#163 Add RequestConverterTextTest
  compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/DataHolder.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/FieldArgumentsText.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/GetPathsText.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/QueryArgumentText.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/requestData/RequestConverterText.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/requestData/RequestConverterTextKtTest.kt
Labels: compiler-plugin, ktorfit-ksp
