Repository Foso/Ktorfit, pull requests merged in 2023-07, with the labels that each got.

#375 Fix #372 Crash with Xiaomi on create Ktorfit.Builder
  docs/CHANGELOG.md
  ktorfit-lib-common/src/commonMain/kotlin/de/jensklingenberg/ktorfit/Ktorfit.kt
Labels: documentation, ktorfit-lib

#376 release v1.4.3
  gradle/libs.versions.toml
  mkdocs.yml
Labels: no-changelog

#383 release v1.4.4
  README.md
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  mkdocs.yml
Labels: documentation, build
