Repository Foso/Ktorfit, pull requests merged in 2023-08, with the labels that each got.

#385 Update kotlin to 1.9.0
  compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CommonCompilerPluginRegistrar.kt
  compiler-plugin/src/test/kotlin/de/jensklingenberg/FunctionTransformerTest.kt
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  kotlin-js-store/yarn.lock
  ktorfit-lib/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/model/CommonClient.kt
  sandbox/src/commonMain/kotlin/com/example/model/MyOwnResponseConverter.kt
  sandbox/src/jsMain/kotlin/JsMain.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: documentation, compiler-plugin, build, sandbox

#387 relase v1.5.0
  build.gradle.kts
  compiler-plugin/build.gradle.kts
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/Person.kt
  example/AndroidOnlyExample/build.gradle
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/kotlin-js-store/yarn.lock
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-annotations/build.gradle.kts
  ktorfit-lib-common/build.gradle.kts
Labels: documentation, build

#404 fix(example): add Ksp Ktorfit plugin to test sourceSets
  example/MultiplatformExample/gradle.properties
  example/MultiplatformExample/shared/build.gradle.kts
  example/MultiplatformExample/shared/src/commonTest/kotlin/com/example/ktorfittest/KtorfitTest.kt
  example/MultiplatformExample/shared/src/commonTest/kotlin/com/example/ktorfittest/TestApi.kt
  example/MultiplatformExample/shared/src/jsMain/kotlin/com/example/ktorfittest/Platform.kt
  example/MultiplatformExample/shared/src/macosX64Main/kotlin/com/example/ktorfittest/Platform.kt
Labels: build, no-changelog
