Repository Foso/Ktorfit, pull requests merged in 2023-11, with the labels that each got.

#474 Update to KSP 1.0.14
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

#473 Update to Kotlin 1.9.20
  example/MultiplatformExample/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-annotations/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
  sandbox/build.gradle.kts
Labels: build

#476 Add LinuxArm64 target
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-annotations/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
  sandbox/build.gradle.kts
Labels: documentation, build

#478 Release 1.10.0
  README.md
  docs/CHANGELOG.md
  docs/index.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradleConfiguration.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  mkdocs.yml
Labels: documentation, ktorfit-ksp, build, ktorfit-gradle-plugin

#480 479 Add missing import
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
Labels: documentation, ktorfit-ksp

#481 v1.10.1
  README.md
  docs/CHANGELOG.md
  docs/index.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradleConfiguration.kt
  mkdocs.yml
Labels: documentation, build, ktorfit-gradle-plugin

#488 Add `foojay-resolver-convention` plugin to `settings.gradle.kts`
  settings.gradle.kts
Labels: build

#492 fix compile errors because of missing import #490 #486
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ParameterData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ReturnTypeData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/AttributeCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/HeaderCodeGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/typeData/RequestDataArgumentNode.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/RequestConverterTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/StreamingAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/FieldArgumentsTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/GetBodyDataTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/GetRequestBuilderTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/HeaderCodeGeneratorKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/PartsArgumentTextKtTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/UrlArgumentTextKtTest.kt
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/api/KtorSamplesApi.kt
Labels: documentation, ktorfit-ksp, build, sandbox

#493 Release 1.10.2
  README.md
  docs/CHANGELOG.md
  docs/index.md
  example/AndroidOnlyExample/app/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradleConfiguration.kt
Labels: documentation, build, ktorfit-gradle-plugin

#494 Update to Ksp 1.0.15
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation
