Repository Foso/Ktorfit, pull requests merged in 2024-04, with the labels that each got.

#527 Prepare release/1.13.0
  docs/CHANGELOG.md
  docs/index.md
  gradle/libs.versions.toml
  mkdocs.yml
Labels: documentation

#532 Release/1.13.0
  docs/CHANGELOG.md
  docs/index.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/build.gradle
  example/MultiplatformExample/androidApp/build.gradle.kts
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  mkdocs.yml
Labels: documentation, build

#535 Update to Kotlin 2.0.0-RC1
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

#536 Release 1.14.0
  docs/CHANGELOG.md
  docs/index.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradleConfiguration.kt
  mkdocs.yml
Labels: documentation, build, ktorfit-gradle-plugin

#540 Code clean up
  ktorfit-annotations/build.gradle.kts
  ktorfit-converters/call/api/android/call.api
  ktorfit-converters/call/api/jvm/call.api
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/call/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/CallConverterFactory.kt
  ktorfit-converters/call/src/jvmTest/kotlin/ConverterTest.kt
  ktorfit-converters/flow/api/android/flow.api
  ktorfit-converters/flow/api/jvm/flow.api
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/flow/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/FlowConverterFactory.kt
  ktorfit-converters/response/build.gradle.kts
  ktorfit-lib-core/api/android/ktorfit-lib-core.api
  ktorfit-lib-core/api/jvm/ktorfit-lib-core.api
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/Converter.kt
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
  ktorfit-lib-core/src/commonTest/kotlin/de/jensklingenberg/ktorfit/internal/TypeDataTest.kt
  ktorfit-lib-core/src/jvmTest/kotlin/de/jensklingenberg/ktorfit/converter/ConverterTest.kt
  sandbox/src/commonMain/kotlin/com/example/model/CommonClient.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: build, ktorfit-lib, sandbox

#541 Optimize generated code
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/StreamingAnnotationTest.kt
Labels: ktorfit-ksp

#542 Make code generation for qualifiedTypeName configurable
  docs/CHANGELOG.md
  docs/configuration.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitOptions.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/KtorfitProcessor.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/generator/ClassGenerator.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/ClassData.kt
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/KtorfitOptionsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/Utils.kt
  ktorfit-lib-core/build.gradle.kts
  sandbox/build.gradle.kts
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/TestApi2.kt
Labels: documentation, ktorfit-ksp, build, sandbox

#543 Release 2.0.0-beta1
  README.md
  docs/CHANGELOG.md
  docs/index.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/app/src/main/java/de/jensklingenberg/androidonlyexample/MainActivity.kt
  example/MultiplatformExample/shared/build.gradle.kts
  example/MultiplatformExample/shared/src/commonMain/kotlin/com/example/ktorfittest/Greeting.kt
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  mkdocs.yml
Labels: documentation, build, ktorfit-gradle-plugin
