Repository Foso/Ktorfit, pull requests merged in 2024-11, with the labels that each got.

#724 Update converters/example1.md
  docs/CHANGELOG.md
  docs/converters/example1.md
Labels: documentation

#727 Add missing setBody import #726
  docs/CHANGELOG.md
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/PartAnnotationsTest.kt
Labels: documentation, ktorfit-ksp

#728 Update to Ktor 3.0.1
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

#729 Update to KSP 1.0.27
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

#730 Add missing setBody import #726
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/model/FunctionData.kt
Labels: ktorfit-ksp

#732 Decouple Kotlin plugin version from Ktorfit version
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitCompilerSubPlugin.kt
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

#733 Change artifactId
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
Labels: build

#734 Add missing client dependencies #720
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-lib/build.gradle.kts
Labels: documentation, build

#735 Release 2.2.0
  README.md
  docs/CHANGELOG.md
  docs/index.md
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
  mkdocs.yml
Labels: documentation, build, ktorfit-gradle-plugin

#741 Update to KSP 1.0.28
  docs/CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation
