Repository Foso/Ktorfit, pull requests merged in 2025-03, with the labels that each got.

#818 Reverted back to deprecated constructor
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
Labels: ktorfit-lib

#829 Fix cyclic task dependency when using ktorfit gradle plugin
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

#831 Release 2.4.1
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  mkdocs.yml
Labels: documentation

#834 Bundle proguard rules for Android
  docs/CHANGELOG.md
  docs/android/proguard.md
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib-core/src/jvmMain/resources/META-INF/proguard/ktorfit.pro
Labels: documentation, build, ktorfit-lib

#837 Update Ktor to 3.1.2
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  mkdocs.yml
Labels: documentation

#838 Release 2.5.0
  docs/CHANGELOG.md
  docs/index.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  mkdocs.yml
Labels: documentation, build
