Repository Foso/Ktorfit, pull requests merged in 2025-07, with the labels that each got.

#876 Release 2.6.0
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/build.gradle
  example/MultiplatformExample/androidApp/build.gradle.kts
  example/MultiplatformExample/build.gradle.kts
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.properties
  example/MultiplatformExample/iosApp/Podfile.lock
  example/MultiplatformExample/iosApp/Pods/Local Podspecs/shared.podspec.json
  example/MultiplatformExample/iosApp/Pods/Manifest.lock
  example/MultiplatformExample/iosApp/Pods/Pods.xcodeproj/project.pbxproj
  example/MultiplatformExample/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.debug.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.release.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/shared/shared.debug.xcconfig
  example/MultiplatformExample/iosApp/Pods/Target Support Files/shared/shared.release.xcconfig
  example/MultiplatformExample/iosApp/iosApp.xcodeproj/xcuserdata/jens.klingenberg.xcuserdatad/xcschemes/iosApp.xcscheme
  example/MultiplatformExample/iosApp/iosApp.xcodeproj/xcuserdata/jens.klingenberg.xcuserdatad/xcschemes/xcschememanagement.plist
  example/MultiplatformExample/iosApp/iosApp.xcworkspace/xcuserdata/jens.klingenberg.xcuserdatad/xcschemes/xcschememanagement.plist
  example/MultiplatformExample/person/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-annotations/build.gradle.kts
  ktorfit-compiler-plugin/build.gradle.kts
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/build.gradle.kts
  ktorfit-gradle-plugin/build.gradle.kts
  ktorfit-ksp/build.gradle.kts
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/build.gradle.kts
  mkdocs.yml
Labels: documentation, build

#884 Release 2.6.1
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/MultiplatformExample/gradle/wrapper/gradle-wrapper.properties
  example/MultiplatformExample/person/build.gradle.kts
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: documentation, build, ktorfit-gradle-plugin

#866 Suppose that HTTP method annotations could be used with an ArrayList
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/utils/KSFunctionDeclarationExt.kt
Labels: ktorfit-ksp

#895 Revert to deprecated code #887
  docs/CHANGELOG.md
  ktorfit-lib-core/src/commonMain/kotlin/de/jensklingenberg/ktorfit/converter/TypeData.kt
Labels: documentation, ktorfit-lib

#890 Integration test that fails when a generic return type is used in ios
  build.gradle.kts
  gradle/libs.versions.toml
  sandbox/build.gradle.kts
  sandbox/src/commonMain/kotlin/com/example/api/StarWarsApi.kt
  sandbox/src/commonTest/kotlin/com/example/SummonStormtroopersTest.kt
Labels: build, sandbox

#885 Fix parameter name conflict with builder stuff
  ktorfit-ksp/src/main/kotlin/de/jensklingenberg/ktorfit/reqBuilderExtension/MethodCodeGeneration.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/HttpAnnotationTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/MethodAnnotationsTest.kt
  ktorfit-ksp/src/test/kotlin/de/jensklingenberg/ktorfit/ReturnTypeDataTest.kt
Labels: ktorfit-ksp

#898 Release 2.6.2
  docs/CHANGELOG.md
  gradle/libs.versions.toml
  mkdocs.yml
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: documentation, sandbox

#900 Fix ClassCastException in compiler plugin
  docs/CHANGELOG.md
  ktorfit-compiler-plugin/src/main/java/de/jensklingenberg/ktorfit/CreateFuncTransformer.kt
  sandbox/src/jvmMain/kotlin/de/jensklingenberg/ktorfit/demo/JvMMain.kt
Labels: documentation, sandbox
