Repository Foso/Ktorfit, pull requests merged in 2025-04, with the labels that each got.

#840 Enable KLib ABI validation
  build.gradle.kts
  ktorfit-annotations/api/ktorfit-annotations.klib.api
  ktorfit-annotations/build.gradle.kts
  ktorfit-compiler-plugin/api/ktorfit-compiler-plugin.api
  ktorfit-converters/call/api/call.klib.api
  ktorfit-converters/call/build.gradle.kts
  ktorfit-converters/flow/api/flow.klib.api
  ktorfit-converters/flow/build.gradle.kts
  ktorfit-converters/response/api/response.klib.api
  ktorfit-converters/response/build.gradle.kts
  ktorfit-gradle-plugin/api/ktorfit-gradle-plugin.api
  ktorfit-ksp/api/ktorfit-ksp.api
  ktorfit-lib-core/api/ktorfit-lib-core.klib.api
  ktorfit-lib-core/build.gradle.kts
  ktorfit-lib/api/ktorfit-lib.klib.api
  ktorfit-lib/build.gradle.kts
Labels: build

#842 Update KSP version check in KtorfitGradlePlugin
  ktorfit-gradle-plugin/src/main/java/de/jensklingenberg/ktorfit/gradle/KtorfitGradlePlugin.kt
Labels: ktorfit-gradle-plugin

#844 Release 2.5.1
  docs/CHANGELOG.md
  example/AndroidOnlyExample/app/build.gradle.kts
  example/AndroidOnlyExample/build.gradle
  example/MultiplatformExample/shared/build.gradle.kts
  gradle/libs.versions.toml
  mkdocs.yml
Labels: documentation, build
